
html{
  overflow: hidden;
}
.login-container {
  display: inline-grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  transform: translateY(0%);
}

/* Welcome content */

.login-container__welcome-board {
  background-color: var(--pink-color);

  border-radius: 25px;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  margin: 5rem 0;
  transition: transform 0.5s ease-in-out;
  transform: translate(-50%);
  position: fixed;
  z-index: -1;
}

.text-container {
  font-weight: 500;
  font-size: 4rem;

  color: var(--white);
  text-align: right;

  margin: 12rem 7rem 5rem 2rem;
  background-color: transparent;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.input__field-passicon-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: relative;
}
.input__field-passicon {
  position: absolute;
  
  /* transform: translate(-190%, 40%); */
  margin-left: -5.3rem;
  margin-top: 1.2rem;
  opacity: 0.2;
  display: inline-block;
  width: 2.5%;
  height: 3.7%;
  min-width: 2.8rem;
  max-width: 3.2rem;
}
.input__field-passicon:hover {
  cursor: pointer;
  opacity: 0.7;
}

.second-blob-container,
.first-blob-container,
.third-blob-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  overflow: hidden;
}
.first-blob-container img{
  width: auto;
  height: 100%;
  object-position: -20rem 20rem;
}
.second-blob-container img{
  width: auto;
  height: 100%;
  object-position: -30rem 40rem;
}
.third-blob-container img{
  width: auto;
  height: 100%;
  object-position: -70rem 40rem;
}

/* Login content */

.login-container__login-board {
  padding: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading {
  font-size: 5rem;
  font-weight: 600;
}
.form__wrapper{
  width: 100%;
}
.form-label{
  /* box-sizing: border-box; */
  /* height: 4rem; */
  display: block;
  margin: 2rem 2rem 1rem 0;
  border: none;
  font-size: 2rem;
  font-weight: 400;
}
.input{
  border: var(--hard-pink) solid 2px;
  opacity:  0.85;
  background-color: var(--white-color);
}

.authentication{
  margin: 1rem 0 ;
}

.authentication-content {
  color: black;
  font-size: 17px;
  margin: 1.5rem 0;
} 

.sign-in-btn {
  margin-top: 2rem;
  width: 20rem;
  background: var(--dark);
  color: var(--white);

  font-size: 2.5rem;
  padding: 1rem;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
} 

.signup-container{
  visibility: hidden;
  position: fixed;
  top: 5rem;
  bottom: 5rem;
  right: 5rem;
  left: -3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 12rem;
}

.login-btn,
.signup-btn{
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 17px;
  font-weight: 700;
}
.signup-container .input__field-passicon {
  margin-top: 1.4rem;
}
/* Animation */

/* Move panel to the right */
.right-panel-active {
  margin-right: 5rem;
  margin-left: 5rem;
  display: block;
  transition: transform 0.4s ease-in-out;
  transform: translate(0);

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.form-container-active {
  transition: transform 0.4s ease-in-out;
  transform: translateY(100%);
  opacity: 0.5;
}

.signup-form-active{
  transition: transform 0.35s linear;
  transform: translateX(20%);
  visibility: visible;
  width: 75%;
}
