.signup-container {
  display: flex;
  flex-direction: column;

  background-color: var(--pink-color);
  justify-content: center;
  align-items: center;

  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

/* Heading */
.signup-container__heading > h1 {
  color: var(--white);
  margin-bottom: 20px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.105em;
}

/* Form */
.signup-container__form .authentication {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500, lighter;
  margin-bottom: 27px;
}

#name-label,
#email-label,
#password-label,
#confirm-label {
  color: var(--white);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.signup-container__form .authentication input {
  width: 583.23px;
  height: 50px;
  border-radius: 10px;
  opacity: 71%;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid #f3effd;
  background-color: var(--pink-color);
}

#already-sign-up {
  margin-top: 10px;
  color: var(--white-color);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}

#text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: var(--white-color);
}

a {
  color: var(--white);
  font-weight: 600;
}

#text {
  margin-right: 20px;
  opacity: 0.5;
}

.inputBtn input {
  width: 583.23px;
  height: 66.09px;
  border-radius: 15px;
  background: var(--dark);
  color: var(--white);

  font-size: 30px;
  line-height: 45px;
  font-weight: 600, bold;

  margin-bottom: 30px;
  cursor: pointer;
}

.inputBtn input:hover {
  background: var(--hard-pink);
}
