@import "./base.css";
@import "./navbar.css";
@import "./homepage.css";
main{
    height: 100vh;
}
.empty-path{
    height: 100vh;
}
.member-tittle__wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 25rem;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.member-tittle h4{
    font-size: 30px;
    font-weight: 300;
    color: var(--dark);
}

.scroll-downs {
    margin: 8px auto;
    width :28px;
    height: 44px;
  }
  .mousey {
    width: 3px;
    padding: 6px 11px;
    height: 30px;
    border: 2px solid var(--dark);
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 8px;
    border-radius: 25%;
    background-color: black;
    animation-name: scroll;
    animation-duration: 1.8s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(5px); opacity: 0.8; }
    100% { transform: translateY(8px); opacity: 0.5;}
  }

.member__wrapper{
    margin: 0 50px;
}

.first-member,
.second-member,
.third-member,
.fourth-member,
.fifth-member{
    position: sticky;
    border-radius: 20px 20px 0 0;
}
.first-member{
    top: 150px;
    bottom: -350px;
    background-color: var(--red);
}
.second-member{
    top: 200px;
    bottom: -340px;
    background-color: var(--soft-pink);
}
.third-member{
    top: 250px;
    bottom: -330px;
    background-color: var(--yellow);
}
.fourth-member{
    top: 300px;
    bottom: -320px;
    background-color: var(--hard-pink);
}
.fifth-member{
    top: 360px;
    bottom: -560px;
}

.first-member-tag{
    height: 250px;
}
.second-member-tag{
    height: 200px;
}
.third-member-tag{
    height: 150px;
}
.fourth-member-tag{
    height: 100px;
}
.fifth-member-tag{
    height: 50px;
}

.member-tag-content{
    padding-top: 10px;
    padding-left: 30px;
    font-size: 25px;
    font-weight: 500;
    border-radius: 20px 20px 0 0;
}


.member-content{
    padding: 0 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 80px;
    align-items: center;
    justify-items: flex-end;
}
.first-member-img{
    width: 200px;
    height: auto;
    border-radius: 100000px;
}
.member__info{
    width: 100%;
    text-align: left;
}
.member-name{
    font-size: 40px;
    font-weight: 700;
}
.member-bio{
    font-size: 20px;
    font-weight: 400;
}

.first-member-content__wrapper,
.second-member-content__wrapper,
.third-member-content__wrapper,
.fourth-member-content__wrapper,
.fifth-member-content__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-member-content__wrapper{
    height: 350px;
    justify-content: flex-start;
}
.second-member-content__wrapper{
    height: 340px;
    justify-content: flex-start;
}
.third-member-content__wrapper{
    height: 330px;
    justify-content: flex-start;
}
.fourth-member-content__wrapper{
    height: 320px;
    justify-content: flex-start;
}
.fifth-member-content__wrapper{
    height: 360px;
    justify-content: center;
}

.fifth-member__wrapper{
    background-color: var(--gray);
    border-radius: 20px;
}
.fifth-member-transparent{
    height: 200px;
    background-color: transparent;
}

footer{
    position: absolute;
    bottom: 0px;
    z-index: -1;
}