* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #1b73e7;
    --black: #000;
    --white: #fff;
    --light-blue: #C4DBFA;
    --gray: #F7F7F7;
    --focus-gray: #ccc;
    --dark-gray: #757575;
    --red: #f81755;
    --alt-blue: #f5f8ff;
    --tan: #fffbf1;
    --yellow: #f4b500;
}
[data-theme="dark"] {
    --white: #000;
    --black: #fff;
    --gray: #000;
    --dark-gray: #fff;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    border: none;
    border-radius: 32px;
    font-size: 1.6rem;
    color: var(--white);
    background-color: var(--blue);
    font-family: 'Montserrat', sans-serif;
    padding: 6px 16px;
    transition: 0.2s;
}

.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

