* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #1b73e7;
    --black: #000;
    --white: #fff;
    --dark-light-white: #fff;
    --light-blue: #C4DBFA;
    --gray: #F7F7F7;
    --lm-only-gray: #F7F7F7;
    --focus-gray: #ccc;
    --dark-gray: #757575;
    --red: #f81755;
    --alt-blue: #f5f8ff;
    --tan: #fffbf1;
    --yellow: #f4b500;
    --purple: #6c6cff;

    /* Default color */
    --white-color: #f3effd;
    --pink-color: #4834d4;
    --hard-pink: #4e589c;
    --soft-pink: #6371ea;
    --dark: #202f53;
    --yellow: #f1cc00;
    --red: #ed0613;

    /* size */
    --nav-height: 7rem;
    --feature-bar-width: 20.6rem;
}
[data-theme="dark"] {
    --white: #000;
    --black: #fff;
    --gray: #000;
    --dark-gray: #fff;
    --lm-only-gray: #fff;
    --blue: #fff;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.logo-font {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    color: black;
}

.clearer { clear: both; }

.btn {
    border: none;
    border-radius: 32px;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'poppins', sans-serif;
    text-align: center;
    
    transition: 0.2s;
}

.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}
