* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #1b73e7;
    --black: #000;
    --white: #fff;
    --dark-light-white: #fff;
    --constant-white: #fff;
    --light-blue: #C4DBFA;
    --gray: #F7F7F7;
    --lm-only-gray: #F7F7F7;
    --focus-gray: #ccc;
    --dark-gray: #757575;
    --red: #f81755;
    --light-red: #f87ea1;
    --alt-blue: #f5f8ff;
    --tan: #fffbf1;
    --yellow: #f4b500;
    --purple: #6c6cff;

    /* Default color */
    --white-color: #f3effd;
    --pink-color: #4834d4;
    --hard-pink: #4e589c;
    --soft-pink: #6371ea;
    --dark: #202f53;
    --yellow: #f1cc00;
    --red: #ed0613;
/* <<<<<<< nhung */

    /* size */
    --nav-height: 4.5rem;
    --feature-bar-width: 20.6rem;
/* >>>>>>> main */
}
[data-theme="dark"] {
    --white: #1e1e1e;
    --black: #fff;
    --gray: #121212;
    --dark-gray: #fff;
    --lm-only-gray: #fff;
    --blue: #fff;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.logo-font {
    font-family: 'Poppins', sans-serif;  
    text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);  
}

.clearer { clear: both; }

.btn {
    border: none;
    border-radius: 32px;
    font-size: 1.6rem;
    background-color: var(--purple);
    font-family: 'Montserrat', sans-serif;
    padding: 6px 16px;
    transition: 0.2s;
}

.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}


.toast-wrapper {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: transparent;
    bottom: 0px;
    z-index: 2;
    left: 0;
    right: 0;
}

.toast {
    position: relative;
    padding: 0 32px;
    background-color: var(--light-red);
    width: 100%;
}

.toast-message {
    font-weight: 400;
    line-height: 64px;
    height: 100%;
    color: var(--white);
}

.toast::before {
    content: "";
    border: 4px solid var(--red);
    position: absolute;

    left: 0;
    top: 0;
    bottom: 0;

}

.enable {
    display: block !important;
}

.disable {
    display: none !important;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 16px;
    height: 8px;
  }

::-webkit-scrollbar-track {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: transparent !important;
    border-radius: 16px;
    
}

::-webkit-scrollbar-thumb:hover {
    background: var(--purple) !important;
}