* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #ecfdff;
    --black: #000;
    --white: #fff;
    --grey: rgb(233, 233, 233);
    --focus-grey: #ccc;
    --red: #f81755;
    --alt-blue: #f5f8ff;
    --tan: #fffbf1;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    border: none;
    border-radius: 32px;
    font-size: 1.6rem;
    color: var(--white);
    background-color: var(--red);
    font-family: 'Montserrat', sans-serif;
    padding: 6px 16px;
}

.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

