*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Poppins", sans-serif !important;
    font-size: 60% !important;
    width: 100%;
    /* overflow: hidden; */
    scroll-behavior: smooth;
}
body {
    overflow: auto;
}
.page__wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

:root {
    --border-main: 8px;
    --border-sub: 8px;
    --button-border: 8px;
    --blue: #1b73e7;
    --black: #000;
    --constant-black: #000;
    --white: #f0f0f0;
    --dark-light-white: #f1f1f1;
    --constant-white: #f1f1f1;
    --light-blue: #C4DBFA;
    --figma-gray: #f1f1f1;
    --gray: #dddddd;
    --lm-only-gray: #F7F7F7;
    --focus-gray: #ccc;
    --dark-gray: #757575;
    --red: #8C2F39;
    --light-red: #f87ea1;
    --alt-blue: #f5f8ff;
    --tan: #fffbf1;
    --green: rgb(145, 221, 97);
    --task-color: #ffffff;
    --box-shadow: -24px 24px 48px rgba(217, 217, 217, 0.2), 24px -24px 48px rgba(217, 217, 217, 0.2), -24px -24px 48px rgba(255, 255, 255, 0.9), 24px 24px 60px rgba(217, 217, 217, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(217, 217, 217, 0.5);
    --box-shadow-engrave: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(217, 217, 217, 0.5), inset -15px 15px 30px rgba(217, 217, 217, 0.2), inset 15px -15px 30px rgba(217, 217, 217, 0.2), inset -15px -15px 30px rgba(255, 255, 255, 0.9), inset 15px 15px 38px rgba(217, 217, 217, 0.9);
    --task-shadow: rgba(0, 0, 0, 0.034) 0px 3px 12px;
    --nav-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    /* Default color */
    --white-color: #ffffff;
    --pink-color: #002366;
    --hard-pink: #4E589C;
    --soft-pink: #6371EA;
    --dark: #282937;
    --yellow: #FDB827;
    --red-pastel: #D45B4A;

    /* size */
    --user-nav-height: 64px;
    --nav-height: 10rem;
    --nav-position-top: 0rem;
    --feature-bar-width: 20.6rem;
}
[data-theme="dark"] {
    --task-color: #282937;
    --white: #30313E;
    --white-color: #282937;
    --black: #fff;
    --gray: #282937;
    --dark-gray: #fff;
    --lm-only-gray: #fff;
    --blue: #fff;
    --box-shadow: -15px 15px 30px rgba(28, 29, 39, 0.2), 15px -15px 30px rgba(28, 29, 39, 0.2), -15px -15px 30px rgba(52, 53, 72, 0.9), 15px 15px 38px rgba(28, 29, 39, 0.9), inset 1px 1px 2px rgba(52, 53, 72, 0.3), inset -1px -1px 2px rgba(28, 29, 39, 0.5);
    --box-shadow-engrave: 0;
    --task-shadow: rgba(0, 0, 0, 0.103) 0px 5px 15px 0px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.white{
    color: var(--white) !important;
}
.black{
    color: var(--black) !important;
}
.logo-font {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    color: black;
    text-transform: uppercase;
}
.input-box{
    height: 100%;
    width: 30rem;
    padding: 2.25rem 2.5rem;
    margin: 0;
    border-radius: 25px;
    border: none;
}
.btn {
    border: none;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'poppins', sans-serif;
    text-align: center;
}

.btn:hover {
    transform: scale(1.02);
    cursor: pointer;
}

textarea {
    font-family: "Poppins", sans-serif !important;
    font-size: 62.5%;
    font-size: 1.4rem;
    min-height: fit-content;
}
.relative{
    position: relative;
}

.flex {
    display: flex !important;
}
.flex-center {
    align-items: center;
    justify-content: center;
}
.flex-center-leftside {
    align-items: center;
    justify-content: flex-start;
}
.flex-center-rightside {
    align-items: center;
    justify-content: flex-end;
}
.flex-center-spacebtw {
    align-items: center;
    justify-content: space-between;
}

.toast-wrapper {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: transparent;
    bottom: 0px;
    z-index: 9999;
    left: 0;
    right: 0;
}

.toast {
    position: relative;
    padding: 0 32px;
    background-color: var(--light-red);
    width: 100%;
}

.toast-message {
    font-weight: 400;
    line-height: 64px;
    height: 100%;
    color: var(--white-color);
}

.toast::before {
    content: "";
    /* border: 4px solid var(--red); */
    width: 8px;
    position: absolute;
    background-color: transparent;
    left: 0;   
    top: 0;
    bottom: 0;
}

.toast-wrapper.success {
    background-color: var(--green) !important;
}

.enable {
    display: block !important;
}

.disable {
    display: none !important;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 16px;
    height: 8px;
    display: none;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: 16px;
    
}

::-webkit-scrollbar-thumb:hover {
    background: var(--purple) !important;
}

.loading-wrapper {
    width: 100vw; 
    height: 100vh;
    display: grid;
    position: fixed;
    z-index: 99999;
    place-items: center;
    background-color: var(--white);
    visibility: visible;
    /* opacity: 1; */
    transition: all 0.3s linear;
}

.square-loading {
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    border-radius: 8px;
    position: absolute;
    right: 48px;
    bottom: 48px;
    z-index: 99999;
    animation: flip 1.2s ease-in-out infinite;
}

.loading {
    position: absolute;
    width: 48px;
    height: 48px;
    right: 48px;
    bottom: 48px;
    border-radius: 8px;
    background-color: var(--soft-pink);
    animation: flip 1s infinite alternate;
    z-index: 9999;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes flip {
   0% {
      transform: perspective(200px) rotateX(0) rotateY(0);
   }

   50% {
      transform: perspective(200px) rotateX(180deg) rotateY(0);
      background-color: var(--yellow);
   }

   100% {
      transform: perspective(200px) rotateX(180deg) rotateY(180deg);
   }
}
.input-field{
    width: 100%;
    box-sizing: border-box;
    height: 1rem;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 300;
    padding: 2.5rem;
}

input {
    font-family: "Poppins", sans-serif !important;

}
