* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Poppins", sans-serif !important;
    font-size: 62.5%;
    width: 100%;
}
:root {
    --blue: #1b73e7;
    --black: #000;
    --white: #fff;
    --dark-light-white: #fff;
    --light-blue: #C4DBFA;
    --gray: #F7F7F7;
    --lm-only-gray: #F7F7F7;
    --focus-gray: #ccc;
    --dark-gray: #757575;
    --red: #f81755;
    --alt-blue: #f5f8ff;
    --tan: #fffbf1;
    --purple: #6c6cff;

    /* Default color */
    --white-color: #f3effd;
    --pink-color: #4834d4;
    --hard-pink: #4e589c;
    --soft-pink: #6371ea;
    --dark: #202f53;
    --yellow: #f1cc00;
    --red: #ed0613;

    /* size */
    --nav-height: 7rem;
    --feature-bar-width: 20.6rem;
}
[data-theme="dark"] {
    --white: #000;
    --black: #fff;
    --gray: #000;
    --dark-gray: #fff;
    --lm-only-gray: #fff;
    --blue: #fff;
}
.white{
    color: var(--white) !important;
}
.black{
    color: var(--black) !important;
}
.logo-font {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    color: black;
    text-transform: uppercase;
}
.input-box{
    height: 100%;
    width: 30rem;
    padding: 2.25rem 2.5rem;
    margin: 0;
    border-radius: 25px;
    border: none;
}
.btn {
    border: none;
    border-radius: 25px;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'poppins', sans-serif;
    text-align: center;
}

.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.input-field{
    width: 100%;
    box-sizing: border-box;
    height: 4rem;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    padding: 2.5rem;
}
