/* details summary > * { 
    display: inline;
}  */

/* main */
:root {
    /* from 40, 320 -> 100, 1440 */
    --font-size-title: clamp(3.60rem, calc(1.84rem + 8.81vw), 9.77rem);
    --font-size-input: clamp(1.01rem, calc(0.71rem + 1.49vw), 2.05rem);
    /* 2.7rem */
    --font-size-summary: clamp(1.21rem, calc(0.82rem + 1.93vw), 2.56rem);
    /* 2rem */
    --font-size-content: clamp(0.84rem, calc(0.61rem + 1.14vw), 1.64rem);
}
body {
    width: 100vw;
    height: 100vh;
}
main {
    flex-direction: column;
    width: 100%;
    height: auto;
    --gap: 3em;
}
/* header */
.faq__title {
    /* font-size: 7rem; */
    font-size: var(--font-size-title);
}
/* input */
.faq__find {
    width: 45%;
    padding: 1.2em 1.8em;
    font-size: var(--font-size-input);
    border-radius: 2rem;

    /* border-color: var(--task-color); */
    border: none;
    outline: none;
    opacity: 0.8;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(190, 190, 190, 0.5), inset -20px 20px 40px rgba(190, 190, 190, 0.2), inset 20px -20px 40px rgba(190, 190, 190, 0.2), inset -20px -20px 40px rgba(255, 255, 255, 0.9), inset 20px 20px 50px rgba(190, 190, 190, 0.9);
}
.faq__find:focus {
    outline: 2px solid var(--dark);
}

/* start of faq wrapper */
.faq__wrapper {
    flex-direction: column;
    width: 90%;
    --gap: 7em;
    padding: 7em;
}
/* start of details */
.faq__card {
    width: 100%;

    font-size: 4rem;
    background-color: var(--figma-gray);
    box-shadow: 2px 5px 20px #646360;
    border-radius: 2.5rem;
    transition: height 1s ease;
}
/* summary */
.faq__card > summary::before {
    padding-right: 0.5em;
    content: "\f105";
    font-family: FontAwesome;

    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}
.faq__card > summary {
    width: 100%;
    padding: 0 2.5em;
    height: 3.5em;
    border-radius: 2.5rem;
    --gap: 0;
    
    background: var(--white);
    /* box-shadow: -40px 40px 80px rgba(230, 230, 230, 0.2), 40px -40px 80px rgba(230, 230, 230, 0.2), -40px -40px 80px rgba(255, 255, 255, 0.9), 40px 40px 100px rgba(230, 230, 230, 0.9), inset 2px 2px 3px rgba(255, 255, 255, 0.3), inset -2px -2px 3px rgba(230, 230, 230, 0.5); */
    color: var(--black);
    /* list-style-type: '▶️'; */
    list-style-type: none;
    cursor: pointer;
    
    font-size: var(--font-size-summary);
    font-weight: 700;

}
/* when hover */
.faq__card:hover summary {
    background-color: var(--alt-blue);
}
/* when open the faq card */
.faq__card[open] > summary::before {
    transform: rotate(90deg) translateX(-3px);
}
.faq__card[open] > summary {
    background-color: var(--dark);
    color: var(--yellow);
    /* list-style-type: '🔽'; */
    list-style-type: none;
}
/* content */
.faq__card-content {
    width: 100%;
    padding: 0.5em 0 1.3em 2em;
    --gap: 0;
}
.faq__card p {
    width: 50%;
    line-height: 4;
    font-size: var(--font-size-content);

}
.faq__card img {
    width: 50%;
}