:root {
    /* static input search font size: 4rem */
    --font-size-input: clamp(1.01rem, calc(0.71rem + 1.49vw), 2.05rem);
    /* static title size: 8rem  */
    --font-size-title: clamp(3.60rem, calc(1.84rem + 8.81vw), 9.77rem);
}
main {
    padding-top: 220px;
    flex-direction: column;
}
/* button back to top */
#button {
    position: fixed;
    /* transform: translate(30px, 30px); */
    bottom: 30px;
    right: 30px;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--yellow);
    text-align: center;
}
#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-size: 2em;
    line-height: 50px;
    color: var(--white);
}
#button:hover {
    cursor: pointer;
    background-color: var(--pink-color);
}
#button:active {
    background-color: var(--pink-color);
}

/* header */
.faq__title {
    /* font-size: 8rem; */
    font-size: var(--font-size-title);
    margin-bottom: 40px;
}
/* input */
.faq__find {
    width: 60%;
    padding: 1em 2em;
    /* font-size: 1.6rem; */
    font-size: var(--font-size-input);
    border-radius: 2rem;
    border: none;
    outline: none;
    opacity: 0.8;
    box-shadow: var(--box-shadow-engrave);
}

/* start of faq wrapper */
.faq__wrapper {
    flex-direction: column;
    width: 90%;
    --gap: 7em;
    padding: 14em 0;
}
/* start of details */
.faq__card {
    width: 100%;
    /* font-size: 4rem; */
    background-color: var(--white-color);
    border-radius: var(--border-main);
    margin-bottom: 44px;
}
/* summary */
.faq__card > summary::before {
    padding-right: 0.5em;
    content: "\f105";
    font-family: FontAwesome;
    /* for drop down */
    transform: rotate(0);
    transform-origin: .2rem 50%;
}
.faq__card > summary {
    box-shadow: -22px 22px 44px rgba(219, 219, 219, 0.2), 22px -22px 44px rgba(219, 219, 219, 0.2), -22px -22px 44px rgba(255, 255, 255, 0.9), 22px 22px 55px rgba(219, 219, 219, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(219, 219, 219, 0.5);

    border-radius: var(--border-main);
    padding: 2em 4em;
    height: 3.5em;
    color: var(--black);
    list-style-type: none;
    cursor: pointer;
    font-size: 2rem;
    /* font-size: var(--font-size-summary); */
    font-weight: 600;
    --gap: 40px;
}

.faq__card:hover summary, .faq__card:focus summary {
    background-color: var(--alt-blue);
}
/* when open the faq card */
.faq__card[open] > summary::before {
    transform: rotate(90deg) translateX(-3px);
}
.faq__card[open] > summary {
    /* box-shadow: var(--box-shadow); */
    background-color: var(--white-color);
    color: var(--yellow);
    list-style-type: none;
}
/* content */
.faq__card-content {
    border-radius: var(--border-main);
    background: var(--white);
    width: 100%;
    padding: 1em 0 1em 5em;
}
.faq__card p {
    width: 50%;
    line-height: 2.5;
    letter-spacing: 1;
    font-size: 1.6rem;
    padding: 1.5em 0.7em;
}
.faq__card img {
    width: 50%;
    /* height: 100%; */
}