@media (max-width: 768px) {

    .home__welcome-wrapper {
        height: 100vh;
        margin: 0;
    }

    .welcome__hello-text,
    .welcome__weare-text,
    .welcome__onyx-text {

    }

    .welcome__hello-text {
        top: 41vh;
        height: fit-content;
        position: relative;
        font-size: 7rem;
    }
    .welcome__weare-text {
        top: 44vh;
        height: fit-content;
        font-size: 8rem;
    }
    .welcome__onyx-text {
        height: fit-content;
        top: 47vh;
        font-size: 12rem;
    }

    .text__wrapper {
        /* height: 100vh; */
        /* display: grid; */
        /* place-items: center; */
    }

    .welcome__img {
        top: 380px;
        display: none;
    }

    .home__feature-wrapper {
        width: 100%;
        padding: 2rem;
    }

    .home__view-wrapper {
        padding-top: 8rem;
        padding-bottom: 8rem;
        
    }

    .view__text-wrapper {
        /* padding-top: 10rem; */
        flex-direction: column;
    }

    .view__text-quote {
        width: 90%;
        padding-bottom: 8px;
        text-align: center;
        margin: 0 auto;
    }

    .view__text-credit {
        text-align: center;
        margin-bottom: 18px;
    }

    .view__img-wrapper {
        padding-top: 10rem;
    }

    .view__img:nth-child(1) {
        transform: scale(1.5);
    
    }
    
    .view__img:nth-child(2) {
        transform: scale(1.8);

    }
    
    .view__img:nth-child(3) {
        transform: scale(1.5);

    }

    .feature__picker-wrapper {
        gap: 4px;
        min-width: 100%;
        /* padding: 18px 48px; */
    }

    .picker__item {
        padding: 18px 0;
        text-align: center;

    }

    .feature__content {
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 0 auto;
    }

    .feature__img-wrapper {
        object-position: center;
    }

    .feature__heading {
        font-size: 6rem;
        padding-top: 4rem;
    }

    .feature__img {
        width: 300px;
    }

    .feature__paragraph {
        font-size: 1.4rem;
        padding: 48px 0;
        width: 70%;
    }

    .feature__img-helper {
        width: 70px;
        top: 80px;
        left: 80px;
    }

    .prefooter__heading {
        font-size: 3rem;
        width: 90%;
    }

    .footer__logo {
        font-size: 4rem;
    }


    @keyframes flyTask {
        from {
        } to {
            transform: translateY(20px) translateX(70px);
        }
    }
}