/* general */
.col-half { 
    width: 50%; 
    display: inline-block;
}
/* end genaral */


/* start of slider */
#slider {
    position: relative;
    padding: 5rem 20.6rem;
}
.slider-logo {
    font-size: larger;
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    
    /* center text */
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 15rem;
    
    font-size: 14rem;
    font-weight: bolder;
    text-align: center;
}
.slider__wrapper {
    box-shadow: #6371ea7e 0px 25px 50px -12px;
    border-radius: 4rem;
}
.slider-display-img {
    border-radius: 4rem;
    overflow: hidden;
}
/* end of content main */

.slider-curve {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 39%;
}

/* start of content */
#content {
    /* margin-top: var(--nav-height); */
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
/* start of content feature */
.feature__bar {
    display: inline;
    --position-vertical: 8rem;
    /* Safari */
    position: -webkit-sticky; 
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;

    width: var(--feature-bar-width);
    height: 100vh;

    /* text displayed vertically */
    writing-mode: vertical-lr;
    text-orientation: upright;
    

    /* center horizontally */
    /* text-align: center; */
    padding: var(--position-vertical) 5rem;

    font-family: 'Poppins', sans-serif;
    font-size: 7rem;
    color: var(--white);
    /* color not ok */
    background-color: var(--soft-pink);
}
/* end of content feature */

/* start of collab feature */
.feature__collab {
    position: absolute;
    top: 0;
    width: 100%;
    background: var(--pink-color);
}
.card {
    padding-top: 3rem;
}

/* end of collab feature */
/* end of content */