@import "./footer.css";

.line{
    /* display: none; */
    top: 76px;
    /* left: 459px;
    width: 65px; */
    position: fixed;
    height: 4px;
    background-color: var(--yellow);
    z-index: 1000;
}

.navbar__logo {
    transition: 0.2s;
}

.navbar__logo:hover {
    cursor: pointer;
    transform: scale(1.1);
    animation: hueHack 2s ease-in-out infinite alternate;
}

@keyframes hueHack {
    from {
        color: var(--yellow);
    } to {
        color: var(--soft-pink);
    }
}

.space{
    height: 100vh;
}
.home__welcome-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin-top: 14vh;
    overflow: hidden;
}

.home__scroll-down {
    display: none;
    position: fixed;
    font-size: 4rem;
    top: 90vh;
    right: 50%;
    transform: translateX(50%);
    animation: forSlideDownIcon 0.8s alternate infinite;
}

@keyframes forSlideDownIcon {
    from {
    } to {
        transform: translateX(50%) translateY(18px);

    }
}

.text__wrapper{
    position: relative;
    height: 400px;
}
.welcome__hello-text,
.welcome__weare-text,
.welcome__onyx-text {
    /* transform-style: preserve-3d; */
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 12rem;
    z-index: -1;
}

.welcome__hello-text {
    top: 74px;
    color: var(--gray);
    font-size: 11rem;
    animation: fadeIn 0.2s ease-in-out;
    z-index: -1;
    transition: 0.2s;
}

.welcome__weare-text {
    top: 140px;  
    color: var(--soft-pink);
    transition: 0.4s;
    animation: fadeIn 0.6s ease-in-out;
}

.welcome__onyx-text {
    top: 200px;
    color: var(--pink-color);
    font-size: 20rem;
    animation: fadeIn 0.9s ease-in-out;
    transition: 0.8s;


}

.welcome__img {
    display: flex;
    width: 80%;
    margin: 0 auto;
    box-shadow: -35px 35px 70px rgba(224, 224, 224, 0.2), 35px -35px 70px rgba(224, 224, 224, 0.2), -35px -35px 70px rgba(255, 255, 255, 0.9), 35px 35px 88px rgba(224, 224, 224, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(224, 224, 224, 0.5);
    border-radius: 18px;
    animation: fadeIn 1.2s ease-in-out;
    position: relative;
    z-index: 1;
    margin-top: 12.5px;
}

.home__view-wrapper {
    height: 100vh;
    background-color: var(--pink-color);
    /* padding-bottom: 14rem;
    padding-top: 14rem; */
    overflow: hidden;
}

.view__text-wrapper {
    /* width: 80%; */
    margin: 4rem 8rem;
    margin-top: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 180px; */
}

.view__text-quote {
    font-size: 2.8rem;
    color: var(--white);
    word-wrap: break-word;
    width: 80%;
    font-weight: 300;
    font-style: italic;
    padding: 4rem 0;

}

.view__text-credit{
    font-size: 2rem;
    color: var(--white);
    font-weight: 500;
    margin-top: 20px;
    /* text-align: right; */
}

.discover-btn {
    padding: 12px 24px;
    font-size: 1.8rem;
    background-color: var(--soft-pink);
    color: var(--white);
    z-index: 30;
    white-space: nowrap;
    margin: 4rem 0;
    transition: 0.1s;
}

.view__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 10rem 40px 0;
    width: 80%;
}

.view__img {
    margin-top: 2rem;
    width: 80%;
    position: relative;
    border-radius: 4px;
}

.view__img:nth-child(1) {
    width: 60%;
    z-index: 3;
    transform: translateX(50%);
    opacity: 0.7;
}

.view__img:nth-child(2) {
    z-index: 4;
    /* transform: scale(1.2); */
}

.view__img:nth-child(3) {
    width: 60%;
    z-index: 3;
    transform: translateX(-50%);
    opacity: 0.7;
}

.home__feature-wrapper {
    display: flex;
    flex-direction: column;
    padding: 8rem 2rem;
    background-color: var(--white-color);
}

.feature__heading {
    font-size: 8rem;
    color: var(--pink-color);
    text-align: center;
    margin-bottom: 48px;
}

.feature__picker-wrapper {
    background-color: var(--white-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    border-radius: 20px;
    padding: 12px 14px;
    width: 50%;
    box-shadow: -40px 40px 80px rgba(231, 231, 231, 0.2), 40px -40px 80px rgba(231, 231, 231, 0.2), -40px -40px 80px rgba(251, 251, 251, 0.9), 40px 40px 100px rgba(231, 231, 231, 0.9), inset 2px 2px 3px rgba(251, 251, 251, 0.3), inset -2px -2px 3px rgba(231, 231, 231, 0.5);
}

.picker__item {
    display: grid;
    place-items: center;
    font-size: 1.4rem;
    padding: 12px 0;
    /* padding: 8px 16px; */
}

.picker__item:hover {
    cursor: pointer;
    opacity: 0.7;
}
.pick {
    background-color: var(--gray);
    border-radius: 12px;
    transition: 0.3s;
}
.picker__item i {
    font-size: 2rem;
    padding: 8px;
}

.feature__content {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
}

.feature__img {
    max-width: 620px;
}

.feature__img-helper {
    width: 146px;
    position: absolute;
    top: 144px;
    left: 124px;
    animation: flyTask 1.5s ease-in-out infinite alternate;
}

.feature__img-wrapper {
    position: relative;
}

.feature__paragraph {
    display: grid;
    padding: 24px;
    padding-left: 48px;
    place-items: center;
    font-size: 2.2rem;
}

.home__prefooter-wrapper {
    height: 55vh;
    background-color: var(--yellow);
    display: grid;
    position: relative;
    overflow: hidden;
    place-items: center;
}

.home__prefooter {
    display: grid;
    place-items: center;
}

.prefooter__heading {
    font-size: 4rem;
    text-align: center;
    color: var(--white-color);
    z-index: 30;
    padding-bottom: 18px;
}

.prefooter__img {
    width: 80%;
    margin: 0 auto;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    filter: blur(1px) brightness(50%);
}

.prefooter__btn {
    background-color: var(--soft-pink);
    margin: 0;
}

@keyframes flyTask {
    from {
    } to {
        transform: translateY(56px) translateX(236px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}