/* general */
.col-half { 
    width: 50%; 
    display: inline-block;
}
/* end genaral */


/* start of slider */
#slider {
    position: relative;
    padding: 5rem 20.6rem;
    background-color: var(--white);
}
.slider-logo {
    font-size: larger;
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    
    /* center text */
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 25rem;
    
    font-size: 14rem;
    font-weight: bolder;
    text-align: center;
}
.slider__wrapper {
    box-shadow: #6371ea7e 0px 25px 50px -12px;
    border-radius: 4rem;
}.slider-img__wrapper{
    border-radius: 25px;
    box-shadow: #6d76c438 0px 22px 70px 4px;
}
.slider-display-img {
    position: relative;
    /* position: absolute; */
    border-radius: 25px;
    z-index: 2;
    
}
/* end of content main */

.slider-curve {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: auto; */
}


/* start of content */
#content {
    /* margin-top: var(--nav-height); */
    --border-radius: 5rem;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--pink-color);
}
/* start of content feature */
.feature__bar {
    display: inline;
    --position-vertical: 8rem;
    /* Safari */
    position: -webkit-sticky; 
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;

    width: var(--feature-bar-width);
    height: 100vh;

    /* text displayed vertically */
    writing-mode: vertical-lr;
    text-orientation: upright;
    

    /* center horizontally */
    /* text-align: center; */
    padding: var(--position-vertical) 5rem;

    font-family: 'Poppins', sans-serif;
    font-size: 7rem;
    font-weight: 600;
    color: var(--white);
    
    background-color: var(--yellow);

}
/* end of content feature */

/* start of drag drop feature */
.feature__dragdrop {
    position: absolute;
    top: 0;
    right: 0;

    height: 100vh;
    width: 70%;
    margin-left: auto;

    margin-top: 15rem;
    
    padding-bottom: 15rem;
}
/* end of drag drop feature */

/* start of collab feature */
.feature__collab {
    position: static;

    height: 100vh;
    margin-right: auto;
    width: 70%;

    margin-top: 15rem;
    padding-bottom: 15rem;
    
}
.card-content {
    /* display: inline-block; */
    background-color: var(--white);
    width: 100%;
    height: 100%;
    /* border-radius: 2rem; */
}

.feature__dragdrop-content {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
.feature__collab-content {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

/* end of collab feature */
/* end of content */