/* general */
.col-half { width: 50%; }
.card {
    --position-vertical: 16rem;
    margin-top: var(--position-vertical);
    margin-bottom: var(--position-vertical);
    height: calc(100vh - var(--position-vertical) * 2);

}

/* start of content */
#content {
    /* margin-top: var(--nav-height); */
    --position-horizontal: 10rem;
    box-sizing: border-box;
    margin-left: var(--position-horizontal);
    margin-right: var(--position-horizontal);
    width: calc(100vw - var(--position-horizontal * 2));

}
/* start of content main */
#content__main {
    position: relative;
    margin-top: 5rem;

    width: 100%;
    /* height: calc(100vh - var(--nav-height) - var(--position-top)); */
}
.content__main-display {
    /* box-shadow: 0rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);   */
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
}
.content__main-display-logo {
    /* text-align: center; */

    padding: 0 0 2rem 0;

    /* center text */
    margin-left: auto;
    margin-right: auto;


    font-size: 14rem;
    font-weight: bolder;

}
.content__main-design-img {
    /* height = 50% width */
    padding: 50%;
    object-fit: cover;
}
/* end of content main */

/* start of content feature */
.feature__bar {
    display: absolute;
    

    --position-vertical: 8rem;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    left: 0;
    bottom: 0;
    z-index: 1;

    width: var(--feature-bar-width);
    height: 100vh;

    /* text displayed vertically */
    writing-mode: vertical-lr;
    text-orientation: upright;
    

    /* center horizontally */
    /* text-align: center; */
    padding: var(--position-vertical) 5rem;

    font-family: 'Poppins', sans-serif;
    font-size: 7rem;
    color: var(--white);
    /* color not ok */
    background-color: var(--soft-pink);

    /* display: none; */
    
}
.feature-bar-ani-appear {
    /* animation: feature-bar-appear 1s ease infinite alternate; */
    animation: feature-bar-appear 0.6s ease-out;
}
.feature-bar-ani-disappear {
    animation: feature-bar-disappear 0.6s ease-out;

}
/* animation */
@keyframes feature-bar-appear {
    from {
        top: 100vh;
    }
    to {
        top: 0;
    }
}
@keyframes feature-bar-disappear {
    from {
        top: 0;
        background-color: red;
    }
    to {
        /* top: 100vh; */
        background-color: blue;
    }
}
/* end of content feature */
/* end of content */