/* general */
/* .col-illus { 
    width: calc(100% * (2/3)); 
    display: inline-block;
}
.col-text { 
    width: calc(100% / 3); 
    display: inline-block;
} */
.card {
    display: block;
    overflow: hidden;
    height: 80vh;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin-top: 20rem;
    margin-right: 3rem;
    margin-left: 20.6rem;
    padding-bottom: 15rem;
}
.card-content {
    /* display: inline-block; */
    background-color: var(--white);
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;

    border-radius: 25px;
}
/* end genaral */


/* start of slider */

.slider-logo {
    font-size: larger;
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    
    /* center text */
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 25rem;
    line-height: 1;
    
    font-size: 15rem;
    font-weight: bolder;
    text-align: center;
}
.slider-content{
    text-align: center;
    padding-bottom: 5rem;
}
#slider-img {
    position: relative;
    padding: 0 var(--feature-bar-width);
    background-color: var(--white);
}
.slider__wrapper {
    box-shadow: #6371ea7e 0px 25px 50px -12px;
    border-radius: 4rem;
}.slider-img__wrapper{
    border-radius: 2.5;
    box-shadow: #6d76c438 0px 22px 70px 4px;
}
.slider-display-img {
    position: relative;
    /* position: absolute; */
    border-radius: 25px;
    z-index: 2;
    
}
/* end of content main */

.slider-curve {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: auto; */
}


/* start of content */
#content {
    /* margin-top: var(--nav-height); */
    --border-radius: 5rem;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--pink-color);
}

/* start of feature bar */
.feature__bar {
    display: inline;
    --position-vertical: 12rem;
    /* Safari */
    position: -webkit-sticky; 
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;

    width: var(--feature-bar-width);
    height: 100vh;

    /* text displayed vertically */
    writing-mode: vertical-lr;
    text-orientation: upright;
    

    /* center horizontally */
    /* text-align: center; */
    padding: 18rem 5rem var(--position-vertical) 5rem;

    font-family: 'Poppins', sans-serif;
    font-size: 7rem;
    font-weight: 600;
    color: var(--white);
    
    background-color: var(--pink-color);

}
/* end of feature bar */

/* start of drag drop feature */
.feature__dragdrop {
    position: absolute;
    top: 0;
    right: 0;   
    /* margin-left: auto; */
}
/* .feature__dragdrop-content {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
} */
.feature__dragdrop-content-illus {
    width: calc(100% * (2/3)); 
}
.feature__dragdrop-content-text {
    width: calc(100% / 3);

    /* position: relative; */
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 9rem;
    color: var(--dark);

    /* set & symbol */
    background: url(/assets/img/feature-content/feature-dragdrop/and-symbol.svg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position-x: 100%;
    background-position-y: 60%;
}
/* end of drag drop feature */


/* start of collab feature */
.feature__collab {
    position: static;
    /* margin-right: auto;    */
    overflow: hidden;
    display: flex;
}

/* .feature__collab-content {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
} */
.feature__collab-content-illus {
    width: calc(100% / 2);
    margin: auto;
}

.feature__collab-content-text {
    width: calc(100% / 2);

    /* padding-left: 2rem; */
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 5.5rem;
    color: var(--dark);
}

/* end of collab feature */
/* end of content feature */


/* start of footer */
#footer {
    /* position: static; */
    width: 100vw;
    /* height: auto; */
    height: auto;
    background: url("/assets/img/footer/moutain-background.svg") center / cover no-repeat,
        url("/assets/img/footer/moutain-background2.svg") center / cover no-repeat;
    
    padding: 10rem 5rem 5rem;
    display: grid; 
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;


    position: relative;
}
.footer__first, .footer__second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__logo {
    font-size: 6rem;
}
.footer__contact {
    width: 80%;
    text-align: center;
    font-size: 1.7rem;
}
.footer__community {
    width: 90%;
    text-align: center;
}
.footer__community .fontawesome-icon {
    /* transform: scale(0.25);  */
    width: 3rem;
    height: 5rem;
    margin: 1rem 0.2rem 0;
}
.footer__community .fontawesome-icon:hover {
    opacity: 0.5;
}


.footer__quote {
    font-size: 3rem;
}
.footer__nav {
    font-size: 2rem;
}
.footer__nav-link {
    display: inline-block;
    /* text-decoration: none; */
    color: var(--black);
    padding: 1rem 0.5rem 0;

}
.footer__nav-link:visited {
    color: var(--black);
}
.footer__nav-link:hover {
    color: var(--hard-pink);
}
.footer__copyrights {
    /* child elements display on the same line */
    display: inline-block;
    padding-top: 1rem;

}
.footer__copyrights .fontawesome-icon {
    display: inline-block;
    
    width: 1.5rem;
    height: 2rem;
    
    vertical-align: middle;
}
.footer__copyrights-text {
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: bottom;
}
/* end of footer */