body {
    width: 100vw;
    /* height: 100vh; */
}
main {
    /* margin-top: calc(var(--nav-height) + var(--nav-position-top)); */
    width: 100%;
    height: 100%;
}

/* start of general */
.align-left { text-align: left !important;}
.align-right { text-align: right !important;}
/* end of general */


/* start of main text */
.main__slider-wrapper {
    /* pos relative for z-index working after using transform */
    /* position: relative; */

    width: 100%;
    /* height: calc(100vh - var(--nav-height)); */
    height: auto;
    margin-top: var(--nav-height);


    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* gap: 2em; */

    /* box-sizing: border-box; */
    padding: 0 7rem;
    z-index: 1;

}
.main__slider-text-parent {
    /* width: 100%; */
    width: 107.4rem;
    height: calc((100vh - var(--nav-height)) / 1.2);
    /* padding-top: 3%; */

}

.main__slider-text-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    vertical-align: middle;
    /* overflow: hidden; */
    background-color: transparent;
}

.main__slider-text {
    width: 100%;
    height: 100%;
    display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
    /* height: 60em; */
    
    background-image: url("../img/homepage/main-slider/main-text.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    /* -webkit-transform: translateY(20%) scale(0.8, 0.8);
    -ms-transform: translateY(20%) scale(0.8, 0.8);
    transform: translateY(20%) scale(0.8, 0.8); */
}
.main__slider-img-parent {
    align-self: flex-end;
    /* width: 80%; */
    width: 86rem;
    /* position: absolute; */

}
.main__slider-img-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    vertical-align:text-top;
}
.main__slider-img {
    width: 100%;
    height: 100%;
    display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
    /* height: 60em; */
    
    background-image: url("../img/homepage/main-slider/main-slider-img.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* -webkit-transform: translateX(-15%) scale(1.3, 1.3);
    -ms-transform: translateX(-15%) scale(1.3, 1.3);
    transform: translateX(-15%) scale(1.3, 1.3); */
}
/* end of main text */




/* start of main feature */
.main__feature {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7em;

    padding: 20em 15em;
    background-color: var(--pink-color);
}
.feature__header {
    align-self: flex-start;
    color: var(--yellow);
    font-weight: 600;
    font-size: clamp(12rem, 50%, 14rem);
}
.feature__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30em;
}

/* start of feature general */
.feature__card {
    width: 100%;
    height: 50em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
}
.feature__card-img-wrapper {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--white-color);
    border-radius: 3em;
}
.feature__card-img {
    content: " ";
    width: 90%;
    height: 90%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.feature__card-text-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    
    color: var(--white);
}
.feature__card-text-title {
    width: 100%;
    font-size: clamp(7rem, 50%, 8rem);
}
.feature__card-text-descri {
    font-size: clamp(3rem, 50%, 4rem);
    line-height: 1.8em;
    word-spacing: 0.1em;
    letter-spacing: 0.1em;

}
/* end of feature general */ 
/* start of dragdrop card */
.feature__dragdrop .feature__card-img {
    background-image: url("../img/homepage/features/dragdrop.png");
}
/* end of dragdrop card */

/* start of collab card */
.feature__collab .feature__card-img {
    background-image: url("../img/homepage/features/collab.png");
}
/* end of collab card */

/* start of dark mode card */
.feature__darkmode .feature__card-img {
    width: 50%;
    height: 100%;
    background-image: url("../img/homepage/features/darkmode.png");
}
/* end of dark mode card */
/* end of main feature */


/* start of the footer */
footer {
    width: 100%;
    height: 23em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white-color);
}
.footer__logo {
    width: 50%;
    font-size: clamp(7rem, 50%, 8rem);
}
.footer__copyrights {
    font-size: clamp(2rem, 50%, 3rem);
}
/* end of the footer */