
.home__welcome-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    height: 150vh;
    position: relative;
    perspective: 1px;
    transform-style: preserve-3d;
}

.welcome__hello-text,
.welcome__weare-text,
.welcome__onyx-text {
    transform-style: preserve-3d;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 12rem;
}

.welcome__hello-text {
    top: 100px;
    color: var(--yellow);
    font-size: 11rem;
    animation: fadeIn 0.2s ease-in-out;
    z-index: -1;
    transition: 0.2s;
}

.welcome__weare-text {
    top: 160px;  
    color: var(--pink-color);
    animation: fadeIn 0.6s ease-in-out;
    transition: 0.4s;
}

.welcome__onyx-text {
    top: 180px;
    color: var(--soft-pink);
    font-size: 24rem;
    animation: fadeIn 0.9s ease-in-out;
    transition: 0.8s;



}

.welcome__img {
    position: absolute;
    width: 80%;
    top: 420px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: -35px 35px 70px rgba(224, 224, 224, 0.2), 35px -35px 70px rgba(224, 224, 224, 0.2), -35px -35px 70px rgba(255, 255, 255, 0.9), 35px 35px 88px rgba(224, 224, 224, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(224, 224, 224, 0.5);
    border-radius: 18px;
    animation: fadeIn 1.2s ease-in-out;
    /* transform: translateZ(-1px) scale(2);
    z-index: -1;
    perspective: 300px; */

}

.home__view-wrapper {
    height: 100vh;
    background-color: var(--hard-pink);
}

.view__text-wrapper {
    width: 80%;
    margin: 0 auto;
    padding-top: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view__text-quote {
    font-size: 2.8rem;
    color: var(--white);
    word-wrap: break-word;
    width: 60%;
    font-weight: 500;

}

.discover-btn {
    padding: 12px 24px;
    font-size: 1.8rem;
    background-color: var(--pink-color);
    color: var(--white);
    z-index: 30;
    position: relative;
}

.view__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 20rem;
    width: 80%;
}

.view__img {
    width: 50%;
    position: relative;
    border-radius: 4px;
}

.view__img:nth-child(1) {
    width: 35%;
    z-index: 3;
    transform: translateX(40%);

}

.view__img:nth-child(2) {
    z-index: 4;
    /* transform: scale(1.2); */
}

.view__img:nth-child(3) {
    width: 35%;
    z-index: 3;
    transform: translateX(-40%);
}

.home__feature-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 8rem;
}

.feature__picker-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 18px 28px;
    border-radius: 20px;
    margin: 0 auto;
    gap: 18px;
    box-shadow: -40px 40px 80px rgba(231, 231, 231, 0.2), 40px -40px 80px rgba(231, 231, 231, 0.2), -40px -40px 80px rgba(251, 251, 251, 0.9), 40px 40px 100px rgba(231, 231, 231, 0.9), inset 2px 2px 3px rgba(251, 251, 251, 0.3), inset -2px -2px 3px rgba(231, 231, 231, 0.5);
}

.picker__item {
    display: grid;
    place-items: center;
    font-size: 1.4rem;
    padding: 8px 16px;

}

.picker__item:hover {
    cursor: pointer;
    opacity: 0.7;
}

.picker__item i {
    font-size: 2rem;
    padding: 8px;
}

.feature__heading {
    font-size: 4rem;
    width: 100%;
    text-align: center;
    margin-bottom: 48px;
}

.feature__content {
    padding-top: 8rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
}

.feature__img {
    max-width: 620px;
}

.feature__img-helper {
    width: 146px;
    position: absolute;
    top: 144px;
    left: 124px;
    animation: flyTask 1.5s ease-in-out infinite alternate;
}

.feature__img-wrapper {
    position: relative;
}

.feature__paragraph {
    display: grid;
    padding: 24px;
    place-items: center;
    text-align: justify;
    font-size: 1.6rem;
}

.home__prefooter-wrapper {
    height: 55vh;
    background-color: var(--yellow);
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
}

.home__prefooter {
    display: grid;
    place-items: center;
    
}

.prefooter__heading {
    width: 100%;
    font-size: 4.2rem;
    text-align: center;
}

.prefooter__img {
    width: 80%;
    margin: 0 auto;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    filter: blur(2px) brightness(50%);


}

.prefooter__btn {
    margin: 32px;
    background-color: var(--soft-pink);
}


footer {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}

.footer__logo {
    font-size: 8rem;
    font-weight: bold;
}

.footer__text {
    font-size: 1.8rem;
}

@keyframes flyTask {
    from {
    } to {
        transform: translateY(56px) translateX(236px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}