@media screen and (min-width: 1400px){
    .main__intro, .main__features{
        padding-left: 10%;
        padding-right: 10%;
    }
    header{
        padding-left: 9%;
        padding-right: 9%;
    }
    .main__intro {
        padding-top: calc(var(--nav-height) + 10%);
    }
    .main__features {
        padding-top: 10em;
    }
    .features__card {
        height: 100em;
    }
}
@media screen and (max-width: 1400px) {
    .main__intro {
        padding-top: calc(var(--nav-height) + 15%);
    }
    .intro__text-img-collab {
        font-size: 35px;
        font-weight: 400;
    }
    .features__title{
        font-size: 10em;
    }
}
/* ipad size */
@media (max-width: 1040px) {
    :root {
        /* --feature-title-size:  clamp(6.23rem, calc(-4.88rem + 23.13vw), 10.16rem); */
        --feature-title-size:  clamp(1.08rem, calc(-4.08rem + 25.81vw), 12.70rem);
        --feature-card-header: clamp(1.25rem, calc(-0.14rem + 6.94vw), 4.38rem);
        --feature-card-text: clamp(0.87rem, calc(0.01rem + 4.29vw), 2.80rem);
    }
    header{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    /* main intro img */
    .main__intro {
        padding-top: calc(var(--nav-height) + 40%);
    }
    .intro__text {
        flex-direction: column;
        align-items: center;
    }
    .intro__text-img-hello {
        width: 85%;
        margin-bottom: 40px;
    }
    .intro__text-img-collab {
        width: 85%;
        transform: translate(0);
    }
    .intro__text-img-line {
        display: none;
    }
    
    /* main intro img */
    .intro__img {
        transform: translateY(-2%);
    }

    /* start main features */
    .main__features {
        padding: 10em 5em;
    }
    .features__title{
        text-align: center;
    }
    .features__card {
        height: 40em;
    }
    /* .features__title {
        align-self: center;
        font-size: var(--feature-title-size);
        letter-spacing: 0.6rem;
    } */
}
/* iphone size */
@media (max-width: 768px) {
    header{
        padding: 0;
    }
    .intro__text-img-collab {
        text-align: center;
        color: var(--dark-gray);
    }
    /* main intro text */
    .main__intro{
        padding-left: 2.7em;
        padding-right: 2.7em;
    }
    .main__intro {
        padding-top: calc(var(--nav-height) + 25%);
    }
    .intro__text {
        padding: 0;
        --gap: 5em;
    }
    .intro__text-img-hello {
        width: 100%;
    }
    .intro__text-img-line {
        display: none;
        /* width: 100%; */
    }
    .intro__text-img-collab {
        width: 95%;
        align-self: flex-start;
        transform: translateY(0);
    }

    /* main intro img */
    .intro__img {
        transform: translateY(2%);
    }
    

    /* start of main features */
    .main__features {
        padding: 8em 2.7em;
        --gap: 1em;
    }
    .features__container {
        --gap: 10em;
    }
    .features__title{
        font-size: 8rem;
        text-align: center;
        margin-bottom: 48px;
    }

    .flex-gap {
        gap: 50px;
    }

    /* feature card */
    .features__card {
        align-self: center;
        flex-direction: column;
        height: 60em;
        --gap: 1em;
    }
    .features__card-article p{
        margin-bottom: 40px;
    }
    .features__card-fig,
    .features__card-article {
        width: 100%;
    } 
    .features__card-article {
        height: auto;
    }
    /* change order of collab */
    .features__card.features__collab .features__card-article {
        order: 2;
    }

    /* start of footer */
    footer {
        flex-direction: column;
    }
}
@media screen and (max-width: 500px){
    .features__card {
        height: 45em;
        --gap: 0.5em;
    }
    .features__card-article {
        --gap: 0;
    }
}
@media screen and (max-width: 420px) {
    /* start of main features */
    .main__features {
        padding: 6em 2.7em;
        --gap: 2em;
    }
    .features__container {
        --gap: 6em;
    }
    .features__card {
        height: 32em;
    }
}
