.login-main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    overflow: hidden;
    position: relative;
    background-color: var(--white);
}

.discreate-background {
    background-color: var(--pink-color);
    width: 100%;
    height: 800px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

.background-title {
    position: absolute;
    right: 68px;
    top: 64px;
    font-size: 4.8rem;
    text-align: right;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 80px;
    color: var(--constant-white);
    animation: hovering 5s infinite alternate;
    z-index: 9;
}

#hard-pink, #pink, #soft-pink {
    position: absolute;
}

#soft-pink {
    left: -360px;
    bottom: -300px;
    z-index: 6;
    animation:hovering 4s infinite alternate;


}


#hard-pink {
    left: -240px;
    bottom: -400px;
    z-index: 4;
    /* animation: flyIn 0.5s; */
    animation: hovering 4.5s infinite alternate;


}

#pink {
    left: -400px;
    bottom: -400px;
    z-index: 3;
    /* animation: flyIn 0.6s; */
    animation: hovering 5.5s infinite alternate;

}

.sign-up-wrapper {
    animation: slideIn 0.5s;
    position: relative;

}

.sign-in-wrapper {
    animation: slideIn 0.5s;
    position: relative;
}

.form-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-title {
    color: var(--black);
    font-size: 6rem;
    letter-spacing: 2px;
    font-weight: 600;
    animation: slideIn 0.3s;


}

.form-label {
    display: block;
    color: var(--black);
    font-size: 2rem;
    font-weight: 500;
    animation: slideIn 0.6s;

}

.form-section {
    margin-top: 16px;
    position: relative;
}

.form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    align-items:flex-end;
    gap: 16px;
}

.form-wrapper {
}

.form-text {
    font-size: 1.6rem;
    color: var(--black);

    margin-top: 16px;
    animation: slideIn 0.5s;

}

.form-link {
    font-weight: 600;
    text-decoration: underline;
    transition: 0.3s;
    
}

.form-link:hover {
    cursor: pointer;
    color: var(--yellow);

}

.form-input {
    padding: 14px;
    font-size: 1.6rem;
    width: 600px;
    min-width: 90%;
    border-radius: 20px;
    margin-top: 18px;
    animation: slideIn 0.4s;
    position: relative;
    border: none;
    outline: none;
    background-color: var(--gray) !important;
}

.form-input-50 {
    padding: 14px;
    font-size: 1.6rem;
    width: 292px;
    min-width: 90%;
    border-radius: 20px;
    /* margin-top: 18px; */
    animation: slideIn 0.4s;
    position: relative;
    border: none;
    outline: none;
    background-color: var(--gray) !important;
}

.form-input-50:focus,
.form-input:focus {
    outline: solid var(--soft-pink);
}

.form-btn {
    background-color: var(--dark);
    color: var(--white);
    font-size: 1.8rem;
    padding: 16px 32px;
    margin-top: 16px;
    animation: slideIn 0.7s;
}

.show-password {
    position: absolute;
    display: block;
    color: var(--dark);
    right: 16px;
    top: 50%;
    width: fit-content;
    height: fit-content;
    transform: translateY(80%);
    font-size: 1.8rem;
    transition: 0.3s;
}

.show-password:hover {
    cursor: pointer;
    opacity: 0.7;
}

.show-password-icon {
    color: var(--yellow);
}

.toast-wrapper {
    z-index: 9999;
}



@keyframes hovering {
    from {
        transform: translateX(0) translateY(0);
    } to  {
        transform: translateX(5%) translateY(5%);
    }
}

@keyframes flyIn {
    from {
        opacity: 0.5;
        transform: scale(1.3) translateY(100%);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);

    }
}

@keyframes slideIn {
    from {
        opacity: 0.5;
        transform: scale(1.3) translateX(100%);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);

    }
}

@keyframes flyLeft {
    from {
        transform: scale(1.3) translateX(100%);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);

    }
}

@keyframes flyBottomToTop {
    from {
        opacity: 0.5;
        transform: scale(1.3) translateY(100%);
    } to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes slideExitLeft {
    from {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
    to {
        opacity: 0;
        transform: scale(0.2) translateX(-50%);

    }
}

.slideExitLeft {
    transform: translateX(-100%);
    opacity: 0;
}

.return-home {
    position: relative;
    padding: 12px 16px;
    width: 55px;
    height: fit-content;
    /* display: inline-block; */
    /* background-color: var(--gray); */
    float: left;

    place-items: center;
    border-radius: 20px;
    transition: 0.3s;
    /* animation: flyLeft 0.2s; */
    translate: translateX(0%);
    overflow: hidden;
}

.return-home:hover {
    cursor: pointer;
    background-color: var(--pink-color);
    width: 191px;
    /* animation: flyLeft 0.2s; */
    transition: 0.3s;
}

.return-home:hover .return-home-icon{
    margin-right: 10px;
    color: var(--white);
    /* animation: flyLeft 0.2s;
    transition: 0.3s; */
}

.return-home:hover .return-home-text{
    display: block;
    animation: flyLeft 0.2s;
    transition: 0.3s;
}

.return-home-icon {
    font-size: 2rem;
    color: var(--dark);
}

.return-home-text {
    display: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--white);
    position: absolute;
    left: 53px;
    top: 12px;
    right: -90px;
    max-height: 24px;
}

@media (max-width: 1350px) {

    .login-main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        overflow: hidden;
        place-items: unset;
        justify-content: center;
        justify-items: center;

    }

    .background-title {
        display: none;
    }

    .sign-up-wrapper,
    .sign-in-wrapper {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translateY(-50%) translateX(50%);
        z-index: 10;
        background: var(--constant-white);
        padding: 32px;
        border-radius: 20px;
        animation: none !important;

    }


    .form-title {
        /* animation: flyBottomToTop 0.3s; */

    }

    .discreate-background {
        border-radius: 0;
        height: 100vh;
        
    }

    #soft-pink {
        left: -200px;
    }

    #hard-pink {
        left: -100px;
    }

    #pink {
        left: -100px;
    }
}

@media (max-width: 700px) {
    .sign-up-wrapper,
    .sign-in-wrapper {
        margin: auto auto;
        width: 95vw;
        max-width: 100vw;
    }

    .form-title {
        font-size: 4rem;
    }

    .form-input {
        width: 100%;
        max-width: 100%;
    }

    .form-section {
        padding-right: 0;
    }

    .form-grid {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .form-grid input {
        width: 100%;
    }

    #sign-up-first {
        grid-row-start: 2;
    }
}