.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    overflow: hidden;
}

.discreate-background {
    background-color: var(--pink-color);
    min-width: 800px;
    width: 100%;
    height: 800px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

.background-title {
    position: absolute;
    right: 68px;
    top: 64px;
    font-size: 4.8rem;
    text-align: right;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 80px;
    color: var(--constant-white);
    animation: flyIn 0.5s;
    

}

#hard-pink, #pink, #soft-pink {
    position: absolute;
}

#soft-pink {
    left: -360px;
    bottom: -300px;
    z-index: 6;
    animation:hovering 4s infinite alternate;


}


#hard-pink {
    left: -240px;
    bottom: -400px;
    z-index: 4;
    /* animation: flyIn 0.5s; */
    animation: hovering 5s infinite alternate;


}

#pink {
    left: -400px;
    bottom: -400px;
    z-index: 3;
    /* animation: flyIn 0.6s; */
    animation: hovering 6s infinite alternate;

}

.sign-up-wrapper {
    animation: slideIn 0.5s;

}

.sign-in-wrapper {

    animation: slideIn 0.5s;

}

.form-title {
    color: var(--black);
    font-size: 6rem;
    letter-spacing: 2px;
    font-weight: 600;
    animation: slideIn 0.3s;


}

.form-label {
    display: block;
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 400;
    animation: slideIn 0.6s;

}

.form-section {
    margin-top: 16px;
    position: relative;
}

.form-wrapper {
}

.form-text {
    font-size: 1.6rem;
    color: var(--black);

    margin-top: 16px;
    animation: slideIn 0.5s;

}

.form-link {
    font-weight: 600;
    text-decoration: underline;
}

.form-link:hover {
    color: var(--yellow);
}

.form-link:hover {
    cursor: pointer;
}

.form-input {
    padding: 12px 16px;
    font-size: 1.6rem;
    width: 600px;
    border-radius: 8px;
    margin-top: 4px;
    animation: slideIn 0.4s;
    position: relative;
}

.form-btn {
    background-color: var(--dark);
    color: var(--white);
    font-size: 1.8rem;
    padding: 16px 32px;
    margin-top: 16px;
    animation: slideIn 0.7s;


}

.show-password {
    position: absolute;
    display: block;
    color: var(--dark);
    right: 16px;
    top: 50%;
    width: fit-content;
    height: fit-content;
    transform: translateY(25%);
    font-size: 1.8rem;
}

.show-password:hover {
    cursor: pointer;
    opacity: 0.7;
}

.show-password-icon {
    color: var(--yellow);
}

.toast-wrapper {
    z-index: 9999;
}

@keyframes hovering {
    from {
        transform: translateX(0) translateY(0);
    } to  {
        transform: translateX(5%) translateY(5%);
    }
}

@keyframes flyIn {
    from {
        opacity: 0.5;
        transform: scale(1.3) translateY(100%);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);

    }
}

@keyframes slideIn {
    from {
        opacity: 0.5;
        transform: scale(1.3) translateX(100%);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);

    }
}

@keyframes slideExitLeft {
    from {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
    to {
        opacity: 0;
        transform: scale(0.2) translateX(-50%);

    }
}

.slideExitLeft {
    transform: translateX(-100%);
    opacity: 0;
}