header {
    width: 100vw;
    height: 10rem;
    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;
}
nav {
    backdrop-filter: blur(2.8rem);
    /* background-color: #ffffff9a; */
    background-color: pink;
    
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* flex-wrap: wrap; */

    /* gap: 10em; */
    /* padding: 0 5em; */
    
    z-index: 100;
}
.navbar__menu, .navbar__workspace, .navbar__menu {
    width: calc(100% / 3);
}
