/* start of header or navbar */
.header {
    /* Position */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
        
}
.header__navbar {
    --position-horizon: 1.6rem;
    --color-font: var(--white);

    backdrop-filter: blur(28px);
    background-color: var(--soft-pink);

    /* size */
    height: 10rem;
    width: 100%;
    padding: 5px 20px;

    /* display element on same line */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__name {
    display: inline-block;
    padding: 0 var(--position-horizon);
    color: var(--white);
}
.navbar__menu {
    height: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__menu-element-link {
    /* make <a> become block */
    display: inline-block;
    height: 100%;

    /* center text vertically */
    padding: 0 var(--position-horizon);

    text-decoration: none;
    color: var(--color-font);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.navbar__workspace {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    
    margin: auto var(--position-horizon);
    background-color: var(--yellow);
    /* color not ok */
    color: var(--dark);
}
/* end of header or navbar */
