header {
    width: 100vw;
    height: var(--nav-height);
    
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    
    overflow: hidden;
    z-index: 2;
    /* background-color: transparent; */
}
.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    /* bottom: 0; */
    right: 0;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}
nav {
    /* backdrop-filter: blur(2.8rem); */
    backdrop-filter: blur(28px);
    background-color: #ffffff9a;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    border-radius: 0px 0px 26px 26px;
    
    width: 95%;
    height: var(--nav-height);

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0 6em;
}

nav > * {
    /* make sure width is evenly same size */
    flex-grow: 1;
    flex-basis: 0;
}
.navbar__name {
    font-size: clamp(4.5rem, 50%, 6rem);
}
.navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;

    font-size: clamp(1.5rem, 1.5vw, 2rem);
}
.navbar__menu-element-link {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navbar__btnwrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar__btn {
    /* text and icon on same line */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 9em;
    height: 45%;

    background-color: var(--pink-color);
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
} 
.navbar__btn-icon {
    color: var(--white);
    text-decoration: none;
    font-size: clamp(1.5rem, 1.5vw, 1.8rem);
}
