/* start of header or navbar */
.header {
    /* Position */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
        
}
.header__navbar {
    --position-horizon: 1.6rem;
    --color-font: var(--white);

    backdrop-filter: blur(28px);
    background-color: #ffffff4b;
    
    /* size */
    height: 10rem;
    width: 100%;
    padding: 5px 20px;

    /* display element on same line */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(33, 24, 83, 0.15) 0px 48px 100px 0px;
}
.navbar__name {
    display: inline-block;
    padding: 0 var(--position-horizon);
    width: 15rem;
}
.navbar__menu {
    height: 100%;
    font-size: 2rem;
    display: inline-block;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 3rem;
}

.navbar__icon{
    color: var(--white);
}
.navbar__menu-element-link {
    /* make <a> become block */
    display: inline-block;
    height: auto;

    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.navbar__workspace {
    width: 15rem;
    background-color: var(--yellow);

    color: var(--dark);
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* end of header or navbar */
