/* start of header or navbar */
.header__navbar {
    --position-horizon: 1.6rem;
    --color-font: var(--white);
    /* Position */
    top: 0;
    left: 0;
    right: 0;

    /* size */
    height: var(--nav-height);
    width: 100vw;

    /* design */
    background: var(--soft-pink);
    color: var(--color-font);
    text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);  

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__icon {
    display: inline-block;
    padding: 0 var(--position-horizon);
    font-size: 3rem;
}
.navbar__menu {
    /* whole list become a block on the same line */
    /* display: inline-block; */

    height: 100%;

    font-size: 2rem;
}
.navbar__menu-element {
    /* all elements in list on same line */
    display: inline-block;
    height: 100%;
}
.navbar__menu-element-link {
    /* make <a> become block */
    display: inline-block;
    height: 100%;

    /* center text vertically */
    line-height: var(--nav-height);
    padding: 0 var(--position-horizon);

    text-decoration: none;
    color: var(--color-font);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.navbar__workspace {
    margin: auto var(--position-horizon);
    background-color: var(--yellow);
    color: var(--dark);
    text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);  
}
/* end of header or navbar */
