/* start of header or navbar */
.header {
    /* Position */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    overflow: hidden;
}
.header__navbar {
    backdrop-filter: blur(28px);
    background-color: #ffffff9a;
    
    /* size */
    border-radius: 25px;
    box-sizing: border-box;
    height: 10rem;
    padding: 5px 20px;
    margin: 20px 60px;

    /* display element on same line */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(138, 121, 211, 0.274) 6px 10px 15px -6px;
}
.navbar__name {
    display: inline-block;
    padding: 0 var(--position-horizon);
    width: 15rem;
}
.navbar__menu {
    height: 100%;
    font-size: 2rem;
    display: inline-block;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 3rem;
}

.navbar__icon{
    color: var(--white);
}
.navbar__menu-element-link {
    /* make <a> become block */
    display: inline-block;
    height: auto;

    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 400;
}
.navbar__workspace {
    width: 15rem;
    background-color: var(--yellow);

    color: var(--dark);
    padding: 15px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.navbar__workspace svg{
    text-align: center;
    height: 100%;
}
/* end of header or navbar */
