.home__header {
    width: 100%;
}

.home__navbar {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    width: 80%;
    margin: 0;
    height: 80px;
    margin: 0 auto;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 16px 16px;
    background-color: var(--white);
    box-shadow: var(--task-shadow);
}

.navbar__logo {
    font-weight: bold;
    font-size: 3rem;
}

.navbar__list {
    list-style: none;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    gap: 18px;
    margin: 0 auto !important;
}

.navbar__item {
}

.navbar__link {
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    margin: 0 4px;
    color: var(--black);
    font-weight: 400;
    text-transform: capitalize;
    transition: 0.2s;
}

.navbar__link:hover {
    cursor: pointer;
    color: var(--pink-color);
    transform: scale(1.1);
    /* opacity: 0.7; */
}

.navbar__login {
    font-size: 1.8rem !important;
    text-transform: capitalize;
    background-color: var(--yellow);
    padding: 12px 24px;
    transition: 0.2s;

}

.navbar__login:hover {
    transform: scale(1.1);
    
}

.navbar__hamburger-wrapper {
    position: fixed;
    font-size: 2rem;
    color: var(--yellow);
    background-color: var(--pink-color);
    border-radius: 0 8px 8px 0;
    left: 0;
    display: none;
    place-items: center;
    z-index: 1000;
    height: 48px;
    width: 48px;
    top: 12px;
}

.navbar__hamburger-wrapper i {
    display: block;
}

.navbar__hamburger-wrapper:hover {
    cursor: pointer;
}

@media (min-width: 769px) {
    .home__navbar {
        display: flex;
    }
}

@media (max-width: 768px) {
    .navbar__hamburger-wrapper {
        display: grid;
    }

    .home__navbar {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        display: none;

    }

    .navbar__list {

        position: fixed;
        top: 80px;
        flex-direction: column;
        width: 100%;
        background-color: var(--white);
        gap: 0;
    }

    .navbar__item {
        padding: 0 18px;
        display: grid;
        place-items: center;
        width: 100%;
        text-align: center;
        height: 80px;
        border-top: 1px solid var(--gray);
    }

    .navbar__link {
        line-height: 80px;
        width: 100%;
    }

    .navbar__login {

        width: 100%;
        position: fixed;
        border-radius: 0 !important;
        top: 320px;
        height: 80px;
        box-shadow: var(--task-shadow);


    }

    
}