:root {
    --nav-height: 10rem;

    /* nav hamburger animation */
    --easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
    --easeOutBack: cubic-bezier(0.250,-0.250, 0.750, 1.250);
    --easing: var(--easeOutBack);
    --duration: .5s;
    --dash-offset-cross: 0px;
    --cross-length: 950px;

}

/* start of general */
a {
    text-decoration: none;
}
/*  */
/* end of general */


/* start of nav */
header {
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
}
nav {
    z-index: 100;
    height: var(--nav-height);
    width: 97%;
    padding: 0 2.5em;
    border-radius: 0px 0px 18px 18px;
}
.nav-transparent {
    /* background: none;
    box-shadow: none;
    backdrop-filter: none; */
    /* background-color: #ffffff9a; */
    background-color: var(--white-color);
    /* box-shadow: rgba(189, 188, 190, 0.15) 0px 30px 20px; */
    backdrop-filter: blur(28px);
}
.nav-colored {
    /* border-radius: 0; */
    backdrop-filter: blur(28px);
    background-color: #ffffff9a;
    box-shadow: var(--task-shadow);
}

.nav__logo{
    font-size: 4rem;
    font-weight: 800;
    height: auto;
}
.nav__logo-text{

}
/* hamburger icon */
.nav__hamburger-wrapper {
    display: none;
}
#nav__hamburger {
    cursor: pointer;
}
path#nav__hamburger-top,
path#nav__hamburger-bottom {
    stroke-dasharray: 240px var(--cross-length);
}
path#nav__hamburger-middle {
    stroke-dasharray: 240px 240px;
}
.cross path#nav__hamburger-top,
.cross path#nav__hamburger-bottom  {
    stroke-dashoffset: -650px;
    stroke-dashoffset: -650px;
}
.cross path#nav__hamburger-middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px 220px;
    
}
#nav__hamburger path {
    fill: none;
    transition: stroke-dashoffset var(--duration) var(--easing), stroke-dasharray var(--duration) var(--easing);
    stroke-width: 40px;
    stroke-linecap: round;
    stroke-dashoffset: 0px;
}
/* nav bar menu */
.nav__menu {
    order: 2;
    position: relative;

}
.nav__menu-element-row{
    display: flex;
    gap: 3em;
}
.nav__menu-element {
    min-width: 5em;
    height: 100%;
    
    font-size: 2.1rem;
    line-height: var(--nav-height);
    color: var(--black);
    flex: 1;
    cursor: pointer;
    user-select: none;
    text-align: center;
}
/* hover on nav menu  */
/* .nav__menu-element:hover {
    color: var(--yellow);
} */
.nav__menu-line {
    position: absolute;
    height: 8px;
    width: 25%;
    /* border-bottom: none; */
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.3s ease;
}
/* not first-child because first-child means element must also first child */
.nav__menu-element:hover ~ .nav__menu-line {
    background-color: var(--yellow);
    /* border-top: 10px solid var(--yellow); */
    /* border-bottom: 10px solid var(--yellow); */
    /* border-radius: 5px; */
}
.nav__menu-element:nth-of-type(2):hover ~ .nav__menu-line {
    left: 25%;
}
.nav__menu-element:nth-of-type(3):hover ~ .nav__menu-line {
    left: 50%;
}
.nav__menu-element:nth-of-type(4):hover ~ .nav__menu-line {
    left: 75%;
}
/* .nav__menu-element:nth-of-type(5):hover ~ .nav__menu-line {
    left: 95%;
} */
/* end hover */

.nav__menu-element-logo,
.nav__menu-element-icon,
.nav__menu-element-home,
.nav__menu-element-login,
.nav__btnres-icon,
.nav__btnres {
    display: none;
}
/* nav bar button */
.nav__btn{
    padding: 0.6em 1.8em;
    font-size: 1.7rem;
    order: 3;

    background-color: var(--soft-pink);
}


/* hover animation nav */


/* animation */
@-webkit-keyframes slide-in {
    0% { transform: translateY(-8rem); }
    100% { transform: translateY(0%); }
}

@keyframes slide-in {
    0% { transform: translateY(-8rem); }
    100% { transform: translateY(0%); }
}
@-webkit-keyframes slide-out {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-100%); }
}

@keyframes slide-out {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-100%); }
}
/* end of nav bar menu */