:root {
    --nav-height: 10rem;

    /* nav hamburger animation */
    --easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
    --easeOutBack: cubic-bezier(0.250,-0.250, 0.750, 1.250);
    --easing: var(--easeOutBack);
    --duration: .5s;
    --dash-offset-cross: 0px;
    --cross-length: 950px;

}

/* start of general */
a {
    text-decoration: none;
}
.flex {
    display: flex;
    gap: var(--gap, 0);
}
.flex-center {
    align-items: center;
    justify-content: center;
}
.flex-center-leftside {
    align-items: center;
    justify-content: flex-start;
}
.flex-center-rightside {
    align-items: center;
    justify-content: flex-end;
}
.flex-center-spacebtw {
    align-items: center;
    justify-content: space-between;
}
/*  */
/* end of general */


/* start of nav */
header {
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
nav {
    z-index: 100;
    height: var(--nav-height);
    width: 97%;
    padding: 0 2.5em;
    border-radius: 0px 0px 26px 26px;
}
.nav-transparent {
    /* background: none;
    box-shadow: none;
    backdrop-filter: none; */
    /* background-color: #ffffff9a; */
    background-color: var(--white-color);
    /* box-shadow: rgba(189, 188, 190, 0.15) 0px 30px 20px; */
    backdrop-filter: blur(28px);
}
.nav-colored {
    /* border-radius: 0; */
    backdrop-filter: blur(28px);
    background-color: #ffffff9a;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.nav__logo{
    font-size: 4.5rem;
    font-weight: 800;
    /* order: 1; */
}
.nav__logo-text{

}
/* hamburger icon */
.nav__hamburger-wrapper {
    display: none;
}
#nav__hamburger {
    cursor: pointer;
}
path#nav__hamburger-top,
path#nav__hamburger-bottom {
    stroke-dasharray: 240px var(--cross-length);
}
path#nav__hamburger-middle {
    stroke-dasharray: 240px 240px;
}
.cross path#nav__hamburger-top,
.cross path#nav__hamburger-bottom  {
    stroke-dashoffset: -650px;
    stroke-dashoffset: -650px;
}
.cross path#nav__hamburger-middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px 220px;
    
}
#nav__hamburger path {
    fill: none;
    transition: stroke-dashoffset var(--duration) var(--easing), stroke-dasharray var(--duration) var(--easing);
    stroke-width: 40px;
    stroke-linecap: round;
    stroke-dashoffset: 0px;
}
/* nav bar menu */
.nav__menu{
    order: 2;
    --gap: 3em;
}
.nav__menu-element{
    font-size: 2.1rem;
    color: var(--black);
    /* animation */
    /* transition: transform 150ms; */
}
.nav__menu-element-logo,
.nav__menu-element-icon,
.nav__menu-element-home,
.nav__menu-element-login {
    display: none;
}
/* nav bar button */
.nav__btn{
    padding: 0.6em 1.8em;
    font-size: 1.7rem;
    order: 3;

    background-color: var(--pink-color);
}
.nav__btn-icon{

}
.nav__btnres-icon,
.nav__btnres {
    display: none;
}

/* logo */
.nav__logo-text:hover {
    background: url("../img/navbar/84d87eb7e536135161c55887d878d44b.gif");
    color: #00000047;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
        
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    transform: scale(1.1);
}
/* menu */
.nav__menu-element:hover {
    transform: scale(1.05) translateY(-6%);
}
/* button */
.nav__btn:hover {
    opacity: 1;
    transform: scale(1.05) translateY(-7%);
}

/* animation */
@-webkit-keyframes slide-in {
    0% { transform: translateY(-9rem); }
    100% { transform: translateY(0%); }
}

@keyframes slide-in {
    0% { transform: translateY(-9rem); }
    100% { transform: translateY(0%); }
}
@-webkit-keyframes slide-out {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-9rem); }
}

@keyframes slide-out {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-9rem); }
}
/* end of nav bar menu */