@import "./user_navbar.css";

.dashboard__wrapper {
    padding: 64px 240px;
    width: 100%;
    height: 100vh;
    position: relative;
}

.dashboard__title {
    font-size: 5rem;
    padding: 0 8px 48px 8px;
    margin-top: 10rem;
    font-weight: 700;
}

.dashboard__project-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content;
    gap: 40px;
}

@media (max-width: 1200px) {
    .dashboard__wrapper {
        padding: 64px 140px;

    }

    .dashboard__project-list {
        grid-template-columns: 1fr 1fr;

    }
}

@media (max-width: 768px) {
    .dashboard__wrapper {
        padding: 64px 16px;
    }

    .dashboard__project-list {
        grid-template-columns: 1fr;
    }

    .dashboard__modal-title {
        font-size: 3rem !important;
        padding: 0 8px;
    }

    .dashboard__modal-wrapper {
        width: 90% !important;
    }
}

.dashboard__project-card {
    width: 100%;
    height: 200px;
    margin-bottom: 4px;
    background-color: var(--soft-pink);
    border-radius: 25px;
    display: grid;
    place-items: center;
    transition: 0s;
}

.dashboard__project-card:hover {
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 0px;
    box-shadow: rgba(50, 50, 93, 0.335) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: 0s;
}
.dashboard__project-card:hover .dashboard__project-card-name {
    transform: scale(1.2);
}

.dashboard__project-add-btn {
    padding: 16px;
    border: none;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    background-color: var(--gray);
}

.dashboard__project-add-btn:hover {
    cursor: pointer;
}

.dashboard__project-create {
    font-size: 3rem;
    transition: 0.3s;
}

.dashboard__project-add-btn:hover .dashboard__project-create {
    transform: rotate(90deg) scale(1.5);
}

.dashboard__project-card-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    display: grid;
    place-items: center;
}


.dashboard__project-card-name {
    color: var(--white);
    font-size: 2rem;
    font-weight: 500;
    max-width: 70%;
    max-height: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0s;
    word-wrap: break-word;
    text-align: center;
}

.dashboard__modal-create {
    position: absolute;
    background-color: rgba(39, 39, 39, 0.952);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    z-index: 100;
}

.dashboard__modal-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    padding: 64px 8px;
    border-radius: 32px;
    align-items: center;
}

.dashboard__modal-title {
    font-size: 3rem;
    font-weight: 700;
}

.dashboard__modal-input {
    width: 60%;
    border-radius: 15px;
    padding: 20px;
    margin-top: 32px;
    border: 1px solid var(--purple);
    transition: 0.3s;
    background-color: var(--gray);
}

.dashboard__modal-input:focus {
    outline: none;
    /* animation: breathingFocus 1s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
    animation-iteration-count: infinite; */

}

@keyframes breathingFocus {
    0% {
        outline: 1px solid var(--purple);
    } 
    25% {
        outline: 1.25px solid var(--purple);
    }
    50% {
        outline: 1.5px solid var(--purple);
    }
    75% {
        outline: 1.75px solid var(--purple);
    }
    100% {
        outline: 2px solid var(--purple);
    }
}

.dashboard__modal-btn {
    width: 30%;
    margin-top: 32px;
    padding: 12px;
    font-size: 1.8rem;
    color: var(--white);
    background-color: var(--soft-pink);
    border-radius: 120px;
}

.dashboard__modal-create.dashboard__modal-create--disable {
    display: none;
}

.dashboard__modal-create.dashboard__modal-create--enable {
    display: grid;
}