#dashboard-root {
    padding: 64px 240px;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: white;
}

.dashboard__header {
    color: black;
    backdrop-filter: blur(28px);
    background-color: #ffffff9a;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    position: fixed;
    top: 0;
    left: 240px;
    right: 240px;
    z-index: 100;
    height: var(--nav-height);
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 26px 26px;
    padding: 0 6em;
}

.dashboard__return {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    display: block;
    width: fit-content;
    transition: 0.2s;
    padding: 12px 24px;
    background-color: var(--yellow);
    border-radius: 25px;
}
.dashboard-task__wrapper{
    position: relative;
}
.dashboard__img{
    width: 54px;
    height: 54px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: var(--task-shadow);
    position: relative;
}
/* 
.dashboard__img:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    transition: 0.3s;
} */
.dashboard-task__wrapper:hover .dashboard-list__wrapper {
    display: block;
    transition: 0.3s;
    animation: slideIn 0.3s;
}
@keyframes slideIn {
    0%{
        opacity: 0.5;
        transform: translateX(0) translateY(0);
      }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.dashboard__return:hover {
    transform: translateX(-16px);
}

.dashboard__return-arrow {
    padding-right: 8px;
}

.dashboard-list__wrapper{
    display: none;
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: white;
    padding: 8px 8px 20px 20px;
    border-radius: 20px;
    width: auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.dashboard-list-img__wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.dashboard-list-img__wrapper span{
    margin-left: 4px;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
}
.dashboard-list-table{
    width: 100%;
    margin-top: 20px;
}
.list-content_wrapper{
    margin-bottom: 10px;
    margin-right: 20px;
    display: block;
    padding: 20px;
}
.list-content_wrapper:hover{
    background-color: var(--white-color);
    color: var(--white);
    cursor: pointer;
    border-radius: 20px;
}
.list-content{
    text-decoration: none;
    color: black;
    font-size: 1.75rem;
    font-weight: 400;
}

.dashboard__title {
    font-size: 5rem;
    padding: 0 8px 48px 8px;
    margin-top: 10rem;
    font-weight: 700;
}

.dashboard__project-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content;
    gap: 40px;
}

@media (max-width: 1200px) {
    #dashboard-root {
        padding: 64px 140px;

    }

    .dashboard__project-list {
        grid-template-columns: 1fr 1fr;

    }
}

@media (max-width: 768px) {
    #dashboard-root {
        padding: 64px 16px;

    }

    .dashboard__project-list {
        grid-template-columns: 1fr;

    }

    .dashboard__modal-title {
        font-size: 3rem !important;
        padding: 0 8px;
    }

    .dashboard__modal-wrapper {
        width: 90% !important;
    }
}

.dashboard__project-card {
    width: 100%;
    height: 200px;
    margin-bottom: 4px;
    background-color: var(--soft-pink);
    border-radius: 16px;
    display: grid;
    place-items: center;
    transition: 0.3s;
}

.dashboard__project-card:hover {
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 0px;
    box-shadow: rgba(50, 50, 93, 0.335) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: 0.3s;
}
.dashboard__project-card:hover .dashboard__project-card-name {
    transform: scale(1.2);
}

.dashboard__project-add-btn {
    padding: 16px;
    border: none;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    background-color: var(--gray);
}

.dashboard__project-add-btn:hover {
    cursor: pointer;
}

.dashboard__project-create {
    font-size: 3rem;
    transition: 0.3s;
}

.dashboard__project-add-btn:hover .dashboard__project-create {
    transform: rotate(90deg) scale(1.5);
}

.dashboard__project-card-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    display: grid;
    place-items: center;
}


.dashboard__project-card-name {
    color: var(--white);
    font-size: 2rem;
    font-weight: 500;
    max-width: 70%;
    max-height: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.3s;
    word-wrap: break-word;
    text-align: center;
}

.dashboard__modal-create {
    position: absolute;
    background-color: rgba(39, 39, 39, 0.952);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
}

.dashboard__modal-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    padding: 64px 8px;
    border-radius: 32px;
    align-items: center;
}

.dashboard__modal-title {
    font-size: 3rem;
    font-weight: 700;
}

.dashboard__modal-input {
    width: 60%;
    border-radius: 15px;
    padding: 20px;
    margin-top: 32px;
    border: 1px solid var(--purple);
    transition: 0.3s;
    background-color: var(--gray);
}

.dashboard__modal-input:focus {
    outline: none;
    /* animation: breathingFocus 1s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
    animation-iteration-count: infinite; */

}

@keyframes breathingFocus {
    0% {
        outline: 1px solid var(--purple);
    } 
    25% {
        outline: 1.25px solid var(--purple);
    }
    50% {
        outline: 1.5px solid var(--purple);

    }
    75% {
        outline: 1.75px solid var(--purple);

    }
    100% {
        outline: 2px solid var(--purple);

    }
}

.dashboard__modal-btn {
    width: 30%;
    margin-top: 32px;
    padding: 12px;
    font-size: 1.8rem;
    color: var(--white);
    background-color: var(--soft-pink);
    border-radius: 120px;
}

.dashboard__modal-create.dashboard__modal-create--disable {
    display: none;
}

.dashboard__modal-create.dashboard__modal-create--enable {
    display: grid;
}