@import "./user_navbar.css";

.dashboard__wrapper {
    padding: 64px 240px;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--white-color);
}

.tittle__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;

}

@media (max-width: 968px) {
    .tittle__wrapper {
        flex-direction: column;
    }

    .dashboard__search-box {
        min-width: 100% !important;
        
    }
    .dashboard__search-workspace-input {
        min-width: 100% !important;
    }
}

.dashboard__user-name-wrapper {
    margin-top: 1;
    max-width: 1024px;

        margin-left: auto;
    margin-right: auto;
}

.dashboard__user-name {
    margin-top: 7rem;
    font-size: 2rem;
    font-weight: 500;
    color: var(--black);
}

.dashboard__title {
    font-size: 5rem;
    padding: 2rem 0px;
    font-weight: 700;
    color: var(--black);
}

.dashboard__search-workspace {
    margin-bottom: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    
}
.dashboard__search-box{
    position: relative;
}
.dashboard__search-workspace-input {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    padding: 16px;
    padding-right: 120px !important;
    min-width: 300px;
    border-radius: 8px;
    flex: 100;
    font-size: 1.4rem;
    outline: 1px solid var(--soft-pink);
    border: 1px solid var(--soft-pink);
    background-color: var(--white-color);
    color: var(--black);
}
.fa-xmark{
    /* font-size: 0.5rem; */
    color: var(--constant-white);
}

.dashboard__view-all-btn {
    height: 32px;
    width: 32px;
    position: absolute;
    right: 90px;
    top: 24%;
    background-color: var(--focus-gray);
    border-radius: 100px;
    transform: scale(0.6);
    transition: 0.2s;
    opacity: 70%;



}
.dashboard__view-all-btn:hover{
    opacity: 100%;
    transform: scale(0.7);
}
.dashboard__search-workspace-btn{
    position: absolute;
    right: 10px;
    top: 9.5px;
    padding: 8px 14px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1.4rem;
    border-radius: 8px;
    transition: 0.2s;
    color: var(--constant-black);

    
}

.dashboard__search-workspace-btn:hover {
    /* transform: none !important; */
}

.dashboard__filter-btn,
.dashboard__project-add-btn {
    padding: 18px 20px;
    background-color: var(--yellow);
    color: var(--constant-black);
    font-size: 1.4rem;
    border-radius: 8px;
    position: relative;
    transition: 0.2s;

}

.dashboard__filter-btn:hover .dashboard__filter-options{
    display: flex;
}
.dashboard__filter-options::before{
    content: "";
    height: 0;
    position: absolute;
    top: -6px;
    right: 0;
    height: 8px;
    width: 100%;
    background-color: transparent;
}
.dashboard__filter-options {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 60px;
    left: 0;
    width: 100%;
    border-radius: 8px;
    background-color: var(--white);
    z-index: 300;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.dashboard__filter-option {
    display: block;
    padding: 16px 16px;
    color: var(--black);
    font-size: 1.4rem;
}

.dashboard__filter-option:hover {
    color: var(--yellow);
}

.dashboard__project-list {
    margin-top: 48px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content;
    gap: 18px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1200px) {
    .dashboard__wrapper {
        padding: 64px 140px;

    }

    .dashboard__project-list {
        grid-template-columns: 1fr 1fr;

    }
}

@media (max-width: 768px) {
    .dashboard__wrapper {
        padding: 64px 16px;
    }

    .dashboard__project-list {
        grid-template-columns: 1fr;
    }

    .dashboard__modal-title {
        font-size: 3rem !important;
        padding: 0 8px;
    }

    .dashboard__modal-wrapper {
        width: 90% !important;
    }
}

.dashboard__project-card {
    width: 100%;
    height: 200px;
    margin-bottom: 4px;
    background-color: var(--soft-pink);
    border-radius: var(--border-main);
    display: grid;
    place-items: center;
    transition: 0.2s;
}

.dashboard__project-card:hover {
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 0px;
    box-shadow: rgba(50, 50, 93, 0.335) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.dashboard__project-card:hover .dashboard__project-card-name {
    transform: scale(1.2);
}

.dashboard__project-add-btn {

}

.dashboard__project-add-btn:hover {
    cursor: pointer;
}

.dashboard__project-add-btn:hover .dashboard__project-create {
    transform: rotate(90deg) scale(1.5);
}

.dashboard__project-card-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    display: grid;
    place-items: center;
}


.dashboard__project-card-name {
    color: var(--constant-white);
    font-size: 2rem;
    font-weight: 500;
    max-width: 70%;
    max-height: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.3s;
    word-wrap: break-word;
    text-align: center;
}

.dashboard__modal-create {
    position: absolute;
    background-color: var(--white-color);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    z-index: 100;
}

.dashboard__modal-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
    padding: 64px 8px;
    border-radius: var(--border-main);
    align-items: center;
    position: relative;

}

.dashboard__modal-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--black);
}

.dashboard__modal-input {
    width: 85%;
    border-radius: var(--border-sub);
    padding: 20px;
    margin-top: 32px;
    border: 1px solid var(--soft-pink);
    transition: 0.3s;
    background-color: var(--white-color);
    color: var(--black);

    /* box-shadow: var(--box-shadow-engrave); */
}

.dashboard__modal-input:focus {
    outline: none;

}

@keyframes breathingFocus {
    0% {
        outline: 1px solid var(--purple);
    } 
    25% {
        outline: 1.25px solid var(--purple);
    }
    50% {
        outline: 1.5px solid var(--purple);
    }
    75% {
        outline: 1.75px solid var(--purple);
    }
    100% {
        outline: 2px solid var(--purple);
    }
}

.dashboard__modal-btn {
    width: 30%;
    margin-top: 32px;
    padding: 12px;
    font-size: 1.8rem;
    color: var(--constant-white);
    background-color: var(--soft-pink);
    border-radius: var(--button-border);
    transition: 0.2s;
}

.dashboard__modal-create.dashboard__modal-create--disable {
    display: none;
}

.dashboard__modal-create.dashboard__modal-create--enable {
    display: grid;
}

.dashboard__close-modal {
    position: absolute;
    right: 24px;
    top: 24px;
    font-size: 2rem;
    max-height: 14px;
    width: 14px;
    color: var(--black);
    transition: 0.2s;
}

.dashboard__close-modal:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: var(--red-pastel);
}

.dashboard__pagination {
    margin-top: 32px;
    width: 100%;
    display: flex;
    padding: 32px 0;
}

.dashboard__pagination-wrapper {
    margin: 0 auto;
}

.dashboard__pagination-btn {
    padding: 8px 16px;
    /* margin: 4px; */
    transition: 0.2s;
    background-color: var(--white-color);
    color: var(--black);


}

.dashboard__pagination-btn:hover {
    transform: translateY(-2px);
}

.dashboard__pagination-btn.dashboard__pagination-btn--active {
    background-color: var(--yellow);
}