.datepicker {
    background-color: white;
    position: absolute;
    right: -94%;
    /* top: 52%; */
    top: -8px;
    /* bottom: 0; */
    right: -358px;
    width: 280px;
    padding: 8px;
    font-size: 1.4rem;
    border-radius: 8px;
    margin-top: 8px;

}

.datepicker__prev,
.datepicker__next {
    padding: 4px;
    font-size: 1.8rem;
    transition: 0.2s;
}

.datepicker__prev:hover,
.datepicker__next:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.datepicker__year {

}

.datepicker__header {
    display: flex;
    justify-content: space-between;

}

.datepicker__dow {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;

}

.datepicker__day {
    padding: 2px;
    margin: 0 2px;
}

.datepicker__numday-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 2px 0;
    
}

.datepicker__numday.reset {
    background-color: white;
}

.datepicker__numday.numday_disable {
    opacity: 0.5;
    /* background-color: #ccc; */
    color: var(--black) !important;

}

.datepicker__numday:hover.numday_disable {
    cursor:not-allowed;
    background-color: #ccc !important;
    color: var(--black);

}

.datepicker__numday {
    /* border: 0.5px solid #ccc; */
    text-align: center;
    border-radius: 4px;
    padding: 2px;
    margin: 2px;
    transition: 0.1s;
}

.datepicker__numday:hover {
    cursor: pointer;
    background-color: var(--soft-pink);
    color: var(--constant-white);
}
