body {
    overflow: hidden;
}

#login-root {
    width: 100%;
    height: 1024px;
}

.login-container {
    display: flex;
}

/* Welcome content */

.login-container__welcome-board {
    background-color: var(--pink-color);
    color: var(--white);
    font-weight: 600;
    font-size: 25px;
    line-height: 59.25px;

    width: 745px;
    height: 659px;

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 57px;
    margin-bottom: 58px;
}

.text-container > h1 {
    text-align: end;
    margin-right: 60px;
    margin-top: 87px;
    margin-bottom: 87px;
}

.background-wrapper {
    margin-top: 152px;
}

.background-wrapper svg {
    border-bottom-right-radius: 25px;

}

/* Login content */

.login-container__login-board {
    width: 852.2px;
}

.wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.wrapper .heading {
    margin-bottom: 49px;
    font-size: 30px;
    line-height: 55px;
    font-weight: 700, bold;
    
    position: relative;
    left: -53px;
}

.wrapper .authentication {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500, lighter;
    margin-bottom: 27px;
}

#email-label, #password-label {
    color: var(--dark);
}

.wrapper .authentication input {
    width: 511.86px;
    height: 50px;
    border-radius: 10px;
    opacity: 71%;
    font-size: 20px;
    font-weight: 500;
}

#signup {
    text-align: right;
    font-size: 15px;
    line-height: 22.5px;
    margin-right: 10px;
    margin-top: 10px;
}

a {
    color: var(--dark);
    font-weight: 600;
}

#text {
    margin-right: 20px;
    opacity: .5;
}

.inputBtn input{
    width: 316.84px;
    height: 66.09px;
    border-radius: 15px;
    background: var(--dark);
    color: var(--white);

    font-size: 30px;
    line-height: 45px;
    font-weight: 600, bold;

    margin-top: 30px;
    cursor: pointer;
}

.inputBtn input:hover {
    background: var(--hard-pink);
}






