main{
    margin: 8vh 20px 20px;
}

.page__wrapper{
    max-width: 800px !important;
}
h1{
    font-size: 40px;
    font-weight: 700;
}


.user-form__label {
    font-weight: 500;
    font-size: 2rem;
}

.user-form__header {
    display: flex;
    margin-top: 18px;
}

.user-form__input-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-form__modify-icon {
    padding: 4px;
    margin-left: 4px;
    color: var(--soft-pink);
    background-color: transparent;
    border: none;
}

.user-form__modify-icon:hover {
    cursor: pointer;
}

.user-form__modify-wrapper {
    margin-top: 8px;
    display: block;
    display: flex;
    flex-direction: column;
}

.user-form__modify-input {
    margin-top: 8px;
    padding: 8px;
    width: 400px;
    font-size: 1.6rem;
    border-radius: 8px;
    border: 1px solid var(--soft-pink);
    outline: 1px solid var(--soft-pink);
}

.user-form__modify-btn {
    border: none;
    color: var(--white-color);
    background-color: var(--soft-pink);
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 8px;
    width: fit-content;
}


.return__wrapper {
    padding: 12px 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 12px;
    background-color: var(--soft-pink);
    color: var(--white);
    align-items: center;
}
.return__content{
    color: var(--white);
    text-decoration: none;
}

.header__wrapper{
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.grid-content{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 2rem;
}
.save__btn{
    padding: 12px 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 12px;
    background-color: var(--soft-pink);
    color: var(--white);
}

.edit__btn{
    padding: 12px 20px;
    border-radius: 0 var(--border-main) var(--border-main) 0 !important;
}
.edit__btn:hover{
    color: var(--yellow);
}

.delete__btn{
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    border: 2px solid var(--red-pastel) !important;
    background-color: var(--white-color) !important;

}

.sign-out-btn{
    margin-top: 80px;
    width: 100%;
    padding: 20px;
    background-color: var(--red-pastel);
    color: var(--white);
    font-weight: 600 !important;
    font-size: 2rem !important;
}