

main{
    /* margin: 8vh 20px 20px; */
    background-color: var(--white-color);
    /* min-height: 200vh; */
    height: 100vh;
    overflow: auto;

}

.page__wrapper{
    max-width: 896px !important;
    box-shadow: var(--box-shadow);
    padding: 48px;
    border-radius: 8px;
    margin-top: 7rem;
    margin-bottom: 7rem;
}
h1{
    margin-top: 18px;
    font-size: 5rem;
    font-weight: 600;
    color: var(--black);
}

.secondary-btn {
    background-color: var(--dark-gray) !important;
    margin-top: 4px !important;
    color: var(--white-color) !important; 

}


.user-form__label {
    font-weight: 500;
    font-size: 2rem;

}

.user-form__sub-label {
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: 8px;
    color: var(--black);
}

.user-form__header {
    display: flex;
    margin-top: 18px;
}

.user-form__input-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-form__modify-icon {
    /* padding: 8px 4px; */
    color: var(--soft-pink);
    background-color: transparent;
    border: none;
    transition: 0.1s;
    font-size: 2rem;
    padding: 0 !important;
    font-weight: 500;
}

.user-form__modify-icon:hover {
    cursor: pointer;
    transform: scale(1.02);
    color: var(--yellow);
}

.user-form__modify-wrapper {
    margin-top: 8px;
    /* display: block;
    display: flex;
    flex-direction: column; */
}

.user-form__modify-input {
    margin-top: 8px;
    padding: 8px;
    width: 400px;
    font-size: 1.6rem;
    border-radius: 8px;
    border: 1px solid var(--soft-pink);
    outline: 1px solid var(--soft-pink);
    display: block;
    color: var(--black);
    background-color: var(--white-color);
}

.user-form__modify-btn {
    border: none;
    color: var(--constant-white);
    background-color: var(--soft-pink);
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 16px;
    width: fit-content;
}


.return__wrapper {
    padding: 12px 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 12px;
    background-color: var(--soft-pink);
    color: var(--constant-white);
    align-items: center;
    transition: 0.2s;
}
.return__content{
    color: var(--white);
    text-decoration: none;
}

.header__wrapper{
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.grid-content{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 2rem;
}
.save__btn{
    padding: 12px 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 12px;
    background-color: var(--soft-pink);
    color: var(--white);
}

.edit__btn{
    padding: 12px 20px;
    border-radius: 0 var(--border-main) var(--border-main) 0 !important;
}
.edit__btn:hover{
    color: var(--yellow);
}

.delete__btn{
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    border: 2px solid var(--red-pastel) !important;
    background-color: var(--white-color) !important;

}

.sign-out-btn{
    padding: 8px 18px;
    background-color: var(--red-pastel);
    color: var(--constant-white);
    margin-top: 48px;
    transition: 0.2s;
}

.modify-avatar {
}

.upload-mask {
    padding: 8px 16px;
    font-size: 1.8rem;
    background-color: var(--soft-pink);
    margin-top: 8px;
    display: block;
    width: 50%;
    border-radius: 8px;
    color: var(--white-color);

}

#avatar-upload {
    color: var(--black);
}

.switch {
    position: relative;
    cursor: pointer;
    width: 64px;
    height: 28px;
    display: block;
    /* margin: 0 auto; */
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background: #000;
    border-radius: 120px;
    transition: background-color 0.25s linear;
    margin-top: 8px;

}

.user-form__darkmode {
    display: flex;
    gap: 8px;
    align-items: center;
}

.switch:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 4rem;
    background-color: #fff;
    top: 4px;
    left: 4px;
    transition: background-color 0.25s linear, transform 0.25s linear;
}

.switch-input {
    display: none;
}

.switch-input:checked + .switch {
    background-color: #6a5af9;
}

.switch-input:checked + .switch:after {
    transform: translateX(36px);
    background-color: white;
}


