.workspace-root {
    min-height: 100vh;
    color: var(--black);
    position: relative;
}

input[type="text"] {
    background-color: var(--white);
    color: var(--black);
}

.workspace__navbar {
    height: 64px;
    position: relative;
    top: 0; 
    right: 0;
    left: 0;
    width: 100vw;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    color: var(--black);
}

.workspace__navbar-left-wrapper {
    width: 100%;
    padding-left: 48px;
}
.workspace__navbar-link {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 64px;
    color: var(--black);
    margin-right: 32px;
    display: inline-block;
}
.workspace__navbar-link:hover {
    opacity: 0.7;
}

@media (max-width: 767px) {
    .workspace__navbar-right-wrapper {
        display: none !important;
    }

    .workspace__navbar-link:nth-child(1) {
        display: none !important;
    }
}

.workspace__navbar-progress-btn {
    color: var(--constant-white) !important;
    height: 4rem;
    padding: 8px 20px;
    background-color: var(--soft-pink);
    display: inline-block;
}

.workspace__navbar-project-name {
    color: var(--black);
    display: block;
}

.workspace__navbar-right-wrapper {
    width: 360px;
    padding-right: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.workspace__navbar-right-avatar-wrapper {
    object-fit: contain;
    width: 64px;
    display: flex;
    height: 64px;
    justify-content: flex-end;
    align-items: center;
}

/* //// */

/* ///// */

.workspace__navbar-darkmode-wrapper {
}

.workspace__switch {
    position: relative;
    cursor: pointer;
    width: 8rem;
    height: 4rem;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background: var(--dark-gray);
    border-radius: 100rem;
    transition: background-color 0.25s linear;
    margin-right: 8px;
}

.workspace__switch:after {
    content: "";
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 8rem;
    background-color: #fff;
    top: 5px;
    left: 5px;
    transition: background-color 0.25s linear, transform 0.25s linear;
}

.workspace__switch-input {
    display: none;
}

.workspace__switch-input:checked + .workspace__switch {
    background-color: var(--black);
}

.workspace__switch-input:checked + .workspace__switch:after {
    transform: translateX(4rem);
    background-color: black;
}

/* ///// */

.workspace__navbar-right-avatar-wrapper:hover {
    cursor: pointer;
}

.workspace__navbar-right-avatar-img {
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.workspace__info {
    color: var(--black);
    width: 100%;
    height: 80px;
    background-color: transparent;
    padding-left: 56px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    z-index: 2;
}

.workspace__info-name {
    color: var(--black);
    font-size: 3rem;
    outline: none;
    font-weight: 700;
}

.workspace__board {
    color: var(--black);
    background-color: var(--white-color);
    height: calc(100vh - 64px);
    overflow-x: scroll;
    display: flex;
    overflow-y: hidden;
    position: fixed;
    top: 64px;
    z-index: 1;
    width: 100%;
    padding-top: 80px;
    box-shadow: var(--box-shadow-engrave)

}

.workspace__board-list {
    padding: 24px;
    max-width: 360px;
    min-width: 360px;
    height: fit-content;
    
    overflow-y: hidden;
    max-height: 98%;
    margin-left: 32px;
    margin-bottom: 32px;
    background-color: var(--white);
    border-radius: 25px;
    position: relative;
    overflow-x: hidden;
    transition: 0.3s;
    display: flex;
    flex-direction: column;

}

.workspace__board-list-scrollable {
    overflow-y: auto;
    height: 70%;
    position: relative;
    overflow-x: hidden;
    margin-bottom: 16px;
    border-radius: 16px;

}

.workspace__add-task-btn {
    width: fit-content;
}



.workspace__board-list:hover{
    /* box-shadow: var(--box-shadow); */
}

.workspace__board-list ~ .workspace__add-task-wrapper {
    animation: disappearMagic 0.3s;
}

.modifying {
    transition: 0.3s;
}

.workspace__board-list.modifying {
    box-shadow: var(--box-shadow);
}

.workspace__board-list-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.workspace__board-list-header {
    font-weight: 500;
    font-size: 2.5rem;
    padding: 16px 12px;
    min-height: fit-content;
    min-width: 310px;
    background-color: var(--white);
}



.workspace__board-list-header:hover + .workspace__board-list-delete {
    display: block;
    cursor: pointer;
    color: var(--red);
}

.workspace__board-list-delete:hover {
    display: block;
    cursor: pointer;
    color: var(--red);
}

.workspace__board-list-task {
    font-size: 1.6rem;
    background-color: var(--task-color);
    border-radius: 15px;
    margin-bottom: 16px;
    width: 310px;
    padding: 14px;
    position: relative;
    /* box-shadow: var(--task-shadow); */
}

.workspace__board-list-task:hover {
    cursor: pointer;
}

.workspace__board-list-task-content {
    padding: 2px;
    outline: none;
    max-width: 90%;
    word-wrap: break-word;
}

.workspace__board-list-delete-icon {
    color: var(--soft-pink);
    opacity: 0.5;
    transform: translateX(-32px);
    font-size: 1.6rem;
    display: block;
    padding: 8px;

  
}

.workspace__board-list-delete {
    display: none;
}

.workspace__board-list-task-delete {
}

.workspace__board-list-task:hover .workspace__board-list-task-edit {
    display: block;
}

.workspace__board-list-task-content:hover {
}

.workspace__board-list-task.workspace__board-list-task--dragging {
}

.workspace__board-list-task--dragging.workspace__board-list-task {
    transform: rotate(2deg);
    opacity: 0.5;
}

.workspace__add-list-wrapper {
    height: fit-content;
    background-color: var(--white);
    border-radius: 25px;

    min-width: 360px;
    margin-left: 32px;

}


.workspace__add-task-btn,
.workspace__submit-task-btn,
.workspace__submit-btn {
    /* margin-top: 12px; */
    padding: 12px 20px;
    color: var(--constant-white);
    background-color: var(--soft-pink);
}

/* uncomment to see magic */
/* .workspace__add-task-btn { 
    position: sticky;
    z-index: 40;
    bottom: 8px;
    left: 0px;
} */
.workspace__submit-btn {
    margin-bottom: 20px;
}

.workspace__add-list-btn {
    background-color: var(--white);
    color: var(--dark-gray);
    min-width: 360px;
    margin-top: 0;
    padding: 16px 20px;
}

.workspace__add-list-btn:hover {
    background-color: var(--yellow);
    color: var(--white);
    font-size: large;
    font-weight: 700;
    box-shadow: var(--box-shadow);
}

.workspace__add-wrapper {
    margin:  20px 28px 0 28px;
    display: none;
    max-width: 305px;
    transition: 0.3s;
    animation: appearMagic 0.3s;
}

.workspace__list-close-icon {
}

.workspace__submit-title {
    font-weight: 400;
}

.workspace__add-task-wrapper {
    margin-top: 40px;
    min-width: 100%;
    display: none;
    transition: 0.3s;
    animation: appearMagic 0.3s;

}

.workspace__submit-title {
    font-size: 2rem;
    font-weight: 700;
}

.workspace__add-input-task,
.workspace__add-input {
    background-color: var(--gray) !important;
    margin-top: 8px;
    margin-bottom: 16px;
    width: 100%;
    padding: 14px;
    border-radius: 16px;
    outline: none;
    border: none;
}

.workspace__task-close-btn,
.workspace__list-close {
    color: var(--white-color);
    background-color: var(--red);
    opacity: 0.7;
    padding: 12px 20px;
    margin-left: 12px;
}

.workspace__task-close {
    font-size: 1.6rem;
}

.workspace__task-setting {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.workspace__task-setting-wrapper {
    position: absolute;
    width: 312px;
    height: fit-content;
    top: 50%;
    left: 50%;

    transform: translateY(-50%) translateX(-50%);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.workspace__task-setting-close {
    background-color: var(--white);
    color: var(--black);
    width: fit-content;
    height: 58.2px;
    padding: 0 24px;
    position: absolute;
    right: -68px;
    border-radius: 20px;
    /* For animation placeholder */
}

/* .workspace__task-setting-title {
    font-size: 1.8rem;
    font-weight: 400;
    display: block;
    margin-top: 8px;
    margin-left: 16px;
} */

.workspace__task-setting-input {
    padding: 16px 16px;
    border: none;
    border-radius: 20px;
    outline: var(--soft-pink);
    font-size: 1.6rem;
}

.workspace__task-setting-btn {
    z-index: -1;
    margin-top: 8px;
    width: 50%;
    padding: 8px 0;
    background-color: var(--soft-pink);
    color: var(--constant-white);
    animation: appearMagic 0.3s;
}

.workspace__task-delete-btn {
    margin-top: 8px;
    padding: 8px 0;
    background-color: var(--red);
    color: var(--constant-white);
    width: 50%;
    animation: appearMagic 0.3s;
}

.workspace__board-list-task-edit {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--soft-pink);
    padding: 4px;
    display: none;
}

/* Status */

.workspace__status {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.87);
    display: block;
}

.workspace__status-wrapper {
    background-color: var(--white);
    border-radius: 25px;
    display: block;
    color: var(--black);
    padding: 5% 5%;
    width: 55%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.workspace__status-title {
    font-size: 3rem;
    font-weight: 600;
    padding: 16px;
    width: 100%;
    text-align: center;
    margin-bottom: 28px;
    border: none;
    outline: none;
    background-color: var(--gray);
    border-radius: 25px;
}

/* .workspace__status-title:focus {
    padding: 16px;
    border-radius: 20px;
    position: relative;
    border: none;
} */

.workspace__status-close-icon {
    position: absolute;
    font-size: 3rem;
    right: 16px;
    top: 16px;
    padding: 8px 16px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    transition: 0.3s;
}

.workspace__status-close-icon:hover {
    /* padding: 8px 0 -8px 0 ; */
    cursor: pointer;
    /* background-color: var(--soft-pink); */
    color: var(--red)
}

/* .workspace__invite-icon {
    margin-right: 8px;
}

.workspace__invite-btn:hover .workspace__invite-icon {
    animation: shaking 0.2s infinite alternate;
}

@keyframes shaking {
    from {
        transform: rotate(-25deg);
    } to {
        transform: rotate(25deg);

    }
} */

/* .workspace__invite-btn {
    padding: 16px 32px;
    color: var(--constant-white);
    background-color: var(--purple);
} */

.workspace__add-collaborator-wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 20px;
}

/* .workspace__collaborator-section {
    width: 100%;
} */

.workspace__add-collaborator-input {
    padding: 8px 20px;
    border-radius: 20px;
    border: var(--soft-pink) solid 2px;
    margin-right:8px;
    outline: none;
    font-size: 1.6rem;
    box-sizing: border-box;
}
.workspace__add-collaborator-btn {
    background-color: var(--soft-pink);
    color: var(--constant-white)
}

.workspace__collaborator-title{
    color: var(--hard-pink)
}
.workspace__collaborator-list {
    max-height: 200px;
    overflow: auto;
    background-color: var(--gray);
    padding: 32px;
    border-radius: 20px;
    margin-top: 28px;
    box-shadow: var(--task-shadow);

}

.workspace__collaborator {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
}

.workspace__collaborator-name {
    font-weight: 400;
}

.workspace__delete-title{
    color: var(--red)
}

.workspace__collaborator-delete {
    transition: 0.3s;
    height: fit-content;
    width: fit-content;
    padding: 8px;
}

.workspace__collaborator-delete:hover {
    color: var(--red);
    cursor: pointer;
}

.workspace__delete-section {

}

.workspace__collaborator-title,
.workspace__delete-title {
    font-size: 3rem !important;
    font-weight: 600;
    width: 100%;
    padding-left: 20px;
    /* text-align: center; */
    font-size: 2rem;
    margin-top: 48px;
    position: relative;
}

/* .workspace__collaborator-title::before,
.workspace__delete-title:before {
    content: '';
    position: absolute;
    width: 50%;
    border: 0.2px solid var(--black);
    right: 50%;
    transform: translateX(50%);
    top: -16px;
    opacity: 0.4;
} */

.workspace__delete-workspace-btn {
    background: transparent;
    border: 1px solid var(--red);
    padding: 8px 16px;
    color: var(--black);
    margin-top: 16px;
    position: relative;
    overflow: hidden;
    isolation: isolate;
    width: 100%;
}

.workspace__delete-workspace-btn::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--red);
    border-radius: 120px;
    width: 0;
    transition: width 0.3s;
    z-index: -1;
}

.workspace__delete-workspace-btn:hover::before {
    width: 100%;
    
}

.workspace__delete-workspace-btn:hover {
    opacity: 1;
    color: var(--black);
}

.workspace__delete-instruction {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 8px;
    padding: 0 16px;
}

.workspace__delete-confirmation {
    margin-top: 20px;
    display: none;
    flex-direction: column;
    transition: 0.3s;
    animation: appearMagic 0.3s;
}

.workspace__delete-confirmation-input {
    padding: 8px 16px;
    border: 2px solid var(--red);
    outline: var(--soft-pink);
    font-size: 1.6rem;
    border-radius: 20px;
    margin-top: 8px;
    width: 100%;


}

.workspace__delete-confirmation-input:focus {
    outline: var(--soft-pink);
    
}

.workspace__delete-confirmation-input:hover {

}

@keyframes appearMagic {
    from {
        opacity: 0.2;

        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes disappearMagic {
    from {
        opacity: 1;
        transform: translateY(0);
    } to {
        opacity: 0;
        transform: translateY(-100%);
    }
}


