@import "user_navbar.css";
@import "workspace_status.css";
@import "workspace_task_setting.css";

html {
    overflow: hidden;
}

.workspace-root {
    min-height: 100vh;
    color: var(--black);
    position: relative;
}

input[type="text"] {
    background-color: var(--white);
    color: var(--black);
}

.workspace__info {
    color: var(--black);
    width: 100%;
    height: 80px;
    background-color: transparent;
    padding-left: 56px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    z-index: 2;
}

.workspace__info-name {
    color: var(--black);
    font-size: 3rem;
    outline: none;
    font-weight: 700;
}

.workspace__board {
    color: var(--black);
    background-color: var(--white-color);
    height: calc(100vh - 64px);
    overflow-x: scroll;
    display: flex;
    overflow-y: hidden;
    position: fixed;
    top: 64px;
    z-index: 1;
    width: 100%;
    padding-top: 80px;
    /* box-shadow: var(--box-shadow-engrave) */

}

.workspace__board-list {
    padding: 24px 18px 12px 18px;
    max-width: 340px;
    min-width: 340px;
    height: fit-content;
    
    overflow-y: hidden;
    max-height: 98%;
    margin-left: 32px;
    margin-bottom: 32px;
    background-color: var(--white);
    border-radius: var(--border-main);
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.2s;
    display: flex;
    flex-direction: column;

}

.workspace__board-list-scrollable {
    overflow-y: auto;
    height: 70%;
    position: relative;
    overflow-x: hidden;
}

.workspace__add-task-btn {
    margin-top: 12px;
    width: 100%;
    padding: 12px 20px;
    color: var(--black);
    background-color: var(--white);
    transition: 0s;
}
.workspace__add-task-btn:hover{
    background-color: var(--pink-color);
    color: white;
}
.workspace__board-list:hover{
    /* box-shadow: var(--box-shadow); */
}

.workspace__board-list ~ .workspace__add-task-wrapper {
    animation: disappearMagic 0.2s;
}

.modifying {
    transition: 0.2s;
}

.workspace__board-list.modifying {
    box-shadow: var(--box-shadow);
}

.workspace__board-list-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.workspace__board-list-header {
    font-weight: 500;
    font-size: 2.5rem;
    padding: 16px 12px;
    min-height: fit-content;
    min-width: 310px;
    background-color: transparent;
}



.workspace__board-list-header:hover + .workspace__board-list-delete {
    display: block;
    cursor: pointer;
    color: var(--red);
}

.workspace__board-list-delete:hover {
    display: block;
    cursor: pointer;
    color: var(--red);
}

.workspace__board-list-scrolalble {
    position: relative;
    z-index: 1;
}

.workspace__board-list-task {
    font-size: 1.6rem;
    background-color: var(--task-color);
    border-radius: var(--border-sub);
    margin-bottom: 16px;
    width: 100%;
    padding: 14px;
    position: relative;
}

.workspace__board-list-task:hover {
    cursor: pointer;
}

.task-urgent {
    position: absolute;
    top: 50%;
    left: 6px; 
    transform: translateY(-50%);
    color: var(--red);
    font-size: 1rem;
}

.workspace__board-list-task-content {
    padding: 2px;
    outline: none;
    max-width: 90%;
    word-wrap: break-word;
}

.workspace__board-list-delete-icon {
    color: var(--soft-pink);
    opacity: 0.5;
    transform: translateX(-32px);
    font-size: 1.6rem;
    display: block;
    padding: 8px;
}

.workspace__board-list-delete {
    display: none;
}

.workspace__board-list-task-delete {
}

.workspace__board-list-task:hover .workspace__board-list-task-edit {
    display: block;
}

.workspace__board-list-task-content:hover {
}

.workspace__board-list-task.workspace__board-list-task--dragging {
}

.workspace__board-list-task--dragging.workspace__board-list-task {
    transform: rotate(2deg);
    opacity: 0.5;
}

.workspace__add-list-wrapper {
    height: fit-content;
    background-color: var(--white);
    border-radius: var(--border-main);
    min-width: 360px;
    margin-left: 32px;
    margin-right: 32px;
}

.workspace__submit-task-btn,
.workspace__submit-btn {
    padding: 12px 20px;
    color: var(--white);
    background-color: var(--soft-pink);
}

/* uncomment to see magic */
/* .workspace__add-task-btn { 
    position: sticky;
    z-index: 40;
    bottom: 8px;
    left: 0px;
} */
.workspace__submit-btn {
    margin-bottom: 20px;
    width: 238px;
}

.workspace__submit-task-btn{
    width: 230px;
}

.workspace__add-list-btn {
    background-color: var(--white);
    color: var(--dark-gray);
    min-width: 340px;
    margin-top: 0;
    padding: 16px 20px;
}

.workspace__add-list-btn:hover {
    background-color: var(--yellow);
    color: var(--white);
    font-size: large;
    font-weight: 700;
    box-shadow: var(--box-shadow);
}

.workspace__add-wrapper {
    margin:  20px 28px 0 28px;
    display: none;
    max-width: 305px;
    transition: 0.2s;
    animation: appearMagic 0.2s;
}

.workspace__list-close-icon {
}

.workspace__submit-title {
    font-weight: 400;
}

.workspace__add-task-wrapper {
    margin-top: 10px;
    min-width: 100%;
    display: none;
    transition: 0.2s;
    animation: appearMagic 0.2s;
}

.workspace__submit-title {
    font-size: 2rem;
    font-weight: 700;
}

.workspace__add-input-task,
.workspace__add-input {
    background-color: var(--gray) !important;
    margin-top: 8px;
    margin-bottom: 16px;
    width: 100%;
    padding: 14px;
    border-radius: var(--border-sub);
    outline: none;
    border: none;
}

.workspace__task-close-btn,
.workspace__list-close {
    color: var(--white-color);
    background-color: var(--red);
    opacity: 0.7;
    padding: 12px 20px;
    margin-left: 12px;
}

.workspace__task-close {
    font-size: 1.6rem;
}





