.user-task__wrapper{
    position: relative;
    z-index: 200;
}
.user__img-active,
.user__img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: var(--border-main);
    box-shadow: var(--task-shadow);
    position: relative;
}

.user__img-active{
    margin-top: 2px;
    margin-right: 2px;
}
/* 
.user__img:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    transition: 0.3s;
} */
.user-task__wrapper:hover .user-list__wrapper {
    display: block;
    transition: 0.3s;
    animation: slideIn 0.3s;
}
@keyframes slideIn {
    0%{
        opacity: 0.5;
        transform: translateX(0) translateY(0);
      }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.user-list__wrapper{
    padding-bottom: 10px;
    display: none;
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: var(--white);
    /* padding: 8px 8px 20px 20px; */
    border-radius: var(--border-sub);
    width: auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.user-list-img__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.user-list-img__wrapper span{
    margin-top: 8px;
    margin-left: 24px;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
}
.user-list-table{
    min-width: 260px;
    width: 100%;
    margin-top: 12px;
}
.user__navbar-darkmode-tittle{
    /* margin-left: 30px; */
    margin-top: 4px;
}
.list-content_wrapper{
    /* margin-bottom: 10px; */
    /* margin-right: 10px; */
    margin-left: 10px;
    display: inline-block;
    padding: 12px 20px;
    background-color: var(--white);
    border-radius: var(--button-border);
    opacity: 50%;
    color: var(--hard-pink);
    font-size: 2rem;
}
.list-content_wrapper:hover{
    background-color: var(--yellow);
    
    cursor: pointer;
    border-radius: var(--border-sub);
    color: var(--black);
    opacity: 100%;
    transition: 0.3s;
}
.list-content_wrapper:hover .list-content{
    color: var(--constant-white);
}

.user__navbar-darkmode-tittle,
.list-content{
    text-decoration: none;
    color: var(--black);
    font-size: 1.7rem;
    font-weight: 400;
}

.list-content-tittle{
    margin-left: 8px;
}
.user__navbar-darkmode-wrapper {
    /* margin-right: 10px;
    padding: 16px 0; */
}
.user__navbar-darkmode-tittle{
    float: left;
}

.user__switch {
    position: relative;
    cursor: pointer;
    /* width: 6rem; */
    /* height: 3rem; */
    display: block;
    margin: 0 auto;
    overflow: hidden;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
    /* background: var(--soft-pink); */
    /* border-radius: 100px; */
    /* transition: background-color 0.25s linear; */
    /* margin-right: 8px; */
}

.user__switch:after {
    content: "";
    position: absolute;
    /* width: 2.5rem;
    height: 2rem;
    border-radius: var(--border-sub);
    background-color: #fff;
    top: 5px;
    left: 5px; */
    /* transition: background-color 0.25s linear, transform 0.25s linear; */
}

.workspace__switch-input {
    display: none;
}

.workspace__switch-input:checked  .fa-moon {
    display: none;
}

.workspace__switch-input:checked + .user__switch:after {
    transform: translateX(2.6rem);
    background-color: var(--constant-white);
}

