.workspace-root {
    min-height: 100vh;
    color: var(--black);
    position: relative;
}

input[type="text"] {
    background-color: var(--white);
    color: var(--black);
}

.workspace__navbar {
    height: 64px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    color: var(--black);
}

.workspace__navbar-left-wrapper {
    width: 100%;
    padding-left: 48px;
}
.workspace__navbar-link {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 64px;
    color: var(--black);
    margin-right: 32px;
}
.workspace__navbar-link:hover {
    opacity: 0.7;
}

.workspace__navbar-progress-btn {
    color: var(--constant-white) !important;
    height: 4rem;
    padding: 8px 20px;
    background-color: var(--purple);
}

.workspace__navbar-project-name {
    color: var(--black);
    display: block;
}

.workspace__navbar-right-wrapper {
    width: 360px;
    padding-right: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.workspace__navbar-right-avatar-wrapper {
    object-fit: contain;
    width: 64px;
    display: flex;
    height: 64px;
    justify-content: flex-end;
    align-items: center;
}

/* //// */

/* ///// */

.workspace__navbar-darkmode-wrapper {
}

.workspace__switch {
    position: relative;
    cursor: pointer;
    width: 8rem;
    height: 4rem;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background: var(--dark-gray);
    border-radius: 100rem;
    transition: background-color 0.25s linear;
    margin-right: 8px;
}

.workspace__switch:after {
    content: "";
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 8rem;
    background-color: #fff;
    top: 5px;
    left: 5px;
    transition: background-color 0.25s linear, transform 0.25s linear;
}

.workspace__switch-input {
    display: none;
}

.workspace__switch-input:checked + .workspace__switch {
    background-color: var(--black);
}

.workspace__switch-input:checked + .workspace__switch:after {
    transform: translateX(4rem);
    background-color: black;
}

/* ///// */

.workspace__navbar-right-avatar-wrapper:hover {
    cursor: pointer;
}

.workspace__navbar-right-avatar-img {
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.workspace__info {
    color: var(--black);
    width: 100%;
    height: 64px;
    background-color: var(--gray);
    padding-left: 48px;
    display: flex;
    align-items: center;
}

.workspace__info-name {
    color: var(--black);
    font-size: 3rem;
    outline: none;
    font-weight: 500;
}

.workspace__board {
    color: var(--black);
    background-color: var(--gray);
    height: calc(100vh - 128px);
    overflow-x: scroll;
    display: flex;
    overflow-y: hidden;
}

.workspace__board-list {
    padding: 24px;
    max-width: 360px;
    min-width: 360px;
    height: fit-content;
    overflow-y: auto;
    max-height: 82vh;
    margin: 0 16px;
    background-color: var(--white);
    border-radius: 20px;
    position: relative;
    overflow-x: hidden;
    /* box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
        -1px -1px 2px rgba(217, 217, 217, 0.5),
        inset -15px 15px 30px rgba(217, 217, 217, 0.2),
        inset 15px -15px 30px rgba(217, 217, 217, 0.2),
        inset -15px -15px 30px rgba(255, 255, 255, 0.9),
        inset 15px 15px 38px rgba(217, 217, 217, 0.9); */
}

.workspace__board-list.modifying {
    /* box-shadow: -15px 15px 30px rgba(224, 224, 224, 0.2),
        15px -15px 30px rgba(224, 224, 224, 0.2),
        -15px -15px 30px rgba(255, 255, 255, 0.9),
        15px 15px 38px rgba(224, 224, 224, 0.9),
        inset 1px 1px 2px rgba(255, 255, 255, 0.3),
        inset -1px -1px 2px rgba(224, 224, 224, 0.5); */
}

.workspace__board-list-header {
    font-weight: 500;
    font-size: 2rem;
    padding: 8px 0;
    margin-bottom: 16px;
    margin-left: 16px;
    outline: none;
    width: 100%;
}

.workspace__board-list-header:hover + .workspace__board-list-delete {
    display: block;
    cursor: pointer;
    color: var(--red);
}

.workspace__board-list-delete:hover {
    display: block;
    cursor: pointer;
    color: var(--red);
}

.workspace__board-list-task {
    font-size: 1.6rem;
    background-color: var(--gray);
    border-radius: 20px;
    margin-bottom: 16px;
    padding: 14px;
    position: relative;
    /* box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
        -1px -1px 2px rgba(217, 217, 217, 0.5),
        inset -15px 15px 30px rgba(217, 217, 217, 0.2),
        inset 15px -15px 30px rgba(217, 217, 217, 0.2),
        inset -15px -15px 30px rgba(255, 255, 255, 0.9),
        inset 15px 15px 38px rgba(217, 217, 217, 0.9); */

    /* border: 1px solid var(--lm-only-gray); */
}

.workspace__board-list-task:hover {
    cursor: pointer;
}

.workspace__board-list-task-content {
    padding: 2px;
    outline: none;
    max-width: 90%;
    word-wrap: break-word;
}

.workspace__board-list-delete-icon {
    color: var(--purple);
    opacity: 0.5;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    padding: 4px;
}

.workspace__board-list-delete {
    top: 46px;
    right: 41px;
    font-size: 1.6rem;
    display: none;
}

.workspace__board-list-task-delete {
}

.workspace__board-list-task:hover .workspace__board-list-task-edit {
    display: block;
}

.workspace__board-list-task-content:hover {
}

.workspace__board-list-task.workspace__board-list-task--dragging {
}

.workspace__board-list-task--dragging.workspace__board-list-task {
    transform: rotate(5deg);
}

.workspace__add-list-wrapper {
    height: fit-content;
}

.workspace__add-task-btn {
    padding: 16px;
    border-radius: 20px;
    color: var(--constant-white);
    background-color: var(--purple);

}

.workspace__add-list-btn {
    background-color: transparent;
    border: 1px solid var(--dark-gray);
    color: var(--dark-gray);
    margin: 16px;
    min-width: 360px;
    border-radius: 120px;
    margin-top: 0;
    padding: 4px 0;
}

.workspace__add-list-btn:hover {
    background-color: var(--dark-gray);
    color: var(--white);
}

.workspace__add-wrapper {
    margin: 0 16px;
    display: none;
    max-width: 360px;
}

.workspace__add-input {
    margin-top: 16px;
    min-width: 360px;
    max-width: 360px;
    padding: 8px;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--purple);
}

.workspace__submit-btn {
    color: var(--white);
    margin-top: 16px;
    padding: 8px 32px;
    display: block;
    display: inline-block;
    color: var(--constant-white);
    background-color: var(--purple);
}

.workspace__list-close {
    color: var(--purple);
    display: inline-block;
    padding: 8px 16px;
    background: var(--white);
    margin-left: 8px;
}

.workspace__list-close-icon {
}

.workspace__submit-title {
    font-weight: 400;
}

.workspace__add-task-wrapper {
    min-width: 100%;
    display: none;
}

.workspace__submit-title {
    margin-top: 16px;
    font-weight: 400;
}

.workspace__add-input-task {
    margin-top: 16px;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--purple);
}

.workspace__submit-task-btn {
    color: var(--white);
    margin-top: 16px;
    padding: 8px 32px;
    color: var(--constant-white);
    background-color: var(--purple);
    
}

.workspace__task-close-btn {
    color: var(--purple);
    background-color: var(--gray);
    padding: 8px 16px;
    margin-left: 8px;
}

.workspace__task-close {
    font-size: 1.6rem;
}

.workspace__task-setting {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.workspace__task-setting-wrapper {
    position: absolute;
    width: 312px;
    height: fit-content;
    top: 50%;
    left: 50%;

    transform: translateY(-50%) translateX(-50%);
    background-color: transparent;
    /* opacity: 0.5; */
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.workspace__task-setting-close {
    width: fit-content;
    height: fit-content;
    padding: 8px 16px;
    position: absolute;
    right: -64px;
    top: 8px;
}

.workspace__task-setting-title {
    font-size: 1.8rem;
    font-weight: 400;
    display: block;
    margin-top: 8px;
    margin-left: 16px;
}

.workspace__task-setting-input {
    padding: 16px 16px;
    border: solid 1px var(--purple);
    border-radius: 20px;
    outline: var(--purple);
    font-size: 1.6rem;
}

.workspace__task-setting-btn {
    margin-top: 8px;
    width: 50%;
    padding: 8px 0;
    background-color: var(--purple);
    color: var(--constant-white);
}

.workspace__task-delete-btn {
    margin-top: 8px;
    padding: 8px 0;
    background-color: var(--red);
    color: var(--constant-white);
    width: 50%;

}

.workspace__board-list-task-edit {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--purple);
    padding: 4px;
    display: none;
}


.workspace__status {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--white);
    display: none;
    place-items: center;
    color: var(--black);
    box-sizing: border-box;
    padding: 5% 20%;

}

.workspace__status-title {
    font-size: 5rem;
    font-weight: 500;
    outline: var(--purple);
    padding: 16px;

}

.workspace__status-title:focus {
    padding: 16px;
    border-radius: 20px;
    background-color: var(--soft-pink);
}

.workspace__status-close-icon {
    position: absolute;
    font-size: 4rem;
    right: 32px;
    top: 32px;
    padding: 8px 16px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    background-color: var(--gray);
    transition: 0.3s;

}

.workspace__status-close-icon:hover {
    padding: 12px 20px;
    cursor: pointer;
    background-color: var(--purple);
}

.workspace__invite-icon {
    margin-right: 8px;
}

.workspace__invite-btn:hover .workspace__invite-icon {
    animation: shaking 0.2s infinite alternate;
}

@keyframes shaking {
    from {
        transform: rotate(-25deg);
    } to {
        transform: rotate(25deg);

    }
}

.workspace__invite-btn {
    padding: 16px 32px;
    color: var(--black);
    background-color: var(--dark);
}

.workspace__collaborator-title {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    font-weight: 500;


}

.workspace__collaborator-section {
    width: 50%;
}

.workspace__collaborator-list {
    max-height: 200px;
    overflow: auto;
    border: 1px solid var(--purple);
    padding: 32px;
    border-radius: 20px;
    margin-top: 16px;
}

.workspace__collaborator {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
}

.workspace__collaborator-name {
    font-weight: 400;
}

.workspace__collaborator-delete {
    transition: 0.3s;
    height: fit-content;
    width: fit-content;
    padding: 8px;
}

.workspace__collaborator-delete:hover {
    color: var(--red);
    transform: rotate(90deg);
    cursor: pointer;
}

.workspace__delete-section {

}

.workspace__delete-title {
    font-weight: 500;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-top: 16px;

}

.workspace__delete-workspace-btn {
    background: transparent;
    border: 1px solid var(--red);
    padding: 8px 16px;
    color: var(--red);
    margin-top: 16px;
}

.workspace__delete-instruction {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 8px;
}

.workspace__delete-confirmation {
    display: flex;
    flex-direction: column;
}

.workspace__delete-confirmation-input {
    padding: 8px 16px;
    outline: var(--purple);
    font-size: 1.6rem;
    border-radius: 20px;
    margin-top: 8px;

}

.workspace__delete-confirmation-input:hover {

}


