.workspace-root {
    min-height: 100vh;
    color: var(--black);
}

.workspace__navbar {
    height: 64px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    color: var(--black);
}

.workspace__navbar-left-wrapper {
    width: 100%;
    padding-left: 48px;
    
}
.workspace__navbar-link {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 64px;
    color: var(--black);
    margin-right: 32px;

}
.workspace__navbar-link:hover {
    opacity: 0.7;
}

.workspace__navbar-create-btn {
    color: var(--white) !important;
    height: 4rem;

}

.workspace__navbar-project-name {
    color: var(--black);
    display: block;
}

.workspace__navbar-right-wrapper {
    width: 360px;
    padding-right: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.workspace__navbar-right-avatar-wrapper {
    object-fit: contain;
    width: 64px;
    display: flex;
    height: 64px;
    justify-content: flex-end;
    align-items: center;
}

 /* ///// */

.workspace__navbar-darkmode-wrapper {
    
}

.workspace__switch {
    position: relative;
    cursor: pointer;
    width: 8rem;
    height: 4rem;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background: var(--dark-gray);
    border-radius: 100rem;
    transition: background-color 0.25s linear;
    margin-right: 8px;
 }
 
 .workspace__switch:after {
    content: "";
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 8rem;
    background-color: #fff;
    top: 5px;
    left: 5px;
    transition: background-color 0.25s linear, transform 0.25s linear;
 }
 
 .workspace__switch-input {
    display: none;
 }
 
 .workspace__switch-input:checked + .workspace__switch {
    background-color: var(--black);
 }
 
 .workspace__switch-input:checked + .workspace__switch:after {
    transform: translateX(4rem);
    background-color: black;
 }

 /* ///// */

.workspace__navbar-right-avatar-wrapper:hover {
    cursor: pointer;
}

.workspace__navbar-right-avatar-img {
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.workspace__info {
    color: var(--black);
    width: 100%;
    height: 64px;
    background-color: var(--gray);
    padding-left: 48px;
    display: flex;
    align-items: center;
}

.workspace__info-name {
    color: var(--black);
    font-size: 3rem;
    outline: none;
    font-weight: 500;
}

.workspace__board {
    color: var(--black);
    
    background-color: var(--gray);
    height: calc(100vh - 128px);
    overflow-x: scroll;
    display: flex;

}

.workspace__board-list {
    padding: 24px;
    max-width: 360px;
    min-width: 360px;
    height: fit-content;
    overflow-y: scroll;
    max-height: 90vh;
    margin: 16px 16px;
    background-color: var(--white);
    border-radius: 16px;
    /* border-top: 1px solid var(--dark-light-white);
    border-right: 1px solid var(--dark-light-white); */
}

.workspace__board-list-header {
    font-weight: 500;
    font-size: 2rem;
    padding: 8px 0;
    margin-bottom: 16px;
    margin-left: 16px;
    outline: none;
}


.workspace__board-list-task {
    font-size: 1.6rem;
    background-color: var(--gray);
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 14px;
    position: relative;
    border: 1px solid var(--lm-only-gray);

}

.workspace__board-list-task:hover {
    cursor: pointer;
}

.workspace__board-list-task-content {
    padding: 2px;
    outline: none;
}

.workspace__board-list-task-content:hover {
    cursor: text;
}

.workspace__board-list-task.workspace__board-list-task--dragging {
    opacity: 0.3;
}

.workspace__add-list-wrapper {

}

.workspace__add-task-btn {
    color: var(--white);
    padding: 16px;
    border-radius: 4px;
}

.workspace__add-list-btn {
    background-color: transparent;
    border: 1px solid var(--dark-gray);
    color: var(--dark-gray);
    margin: 16px;
    min-width: 360px;
    border-radius: 8px;
}

.workspace__add-list-btn:hover {
    background-color: var(--dark-gray);
    color: var(--white);
}


